@use "@/styles/mixins/focus";

.headerNavigation {
  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--header-navigation--spacing);
  }

  li {
    list-style: none;
  }

  .link {
    padding: var(--header-navigation--padding);
    border-radius: var(--header-navigation--corner-radius);
    color: var(--header-navigation--color);
    position: relative;

    @include focus.focus;

    &:hover:not([aria-current]) {
      background-color: var(--header-navigation--background-color--hover);
    }

    &[data-pressed]:not([aria-current]) {
      background-color: var(--header-navigation--background-color--pressed);
    }

    &[aria-current] {
      font-weight: var(--header-navigation--font-weight-current);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--header-navigation--color);
        height: var(--header-navigation--underline-width-current);
      }
    }
  }

  .button {
    color: var(--header-navigation--color);
    border-radius: var(--header-navigation--corner-radius-round);

    &:hover,
    &[data-pressed] {
      color: var(--header-navigation--color);
    }
  }

  /* Color */

  @mixin status($color) {
    &.#{$color} {
      .link,
      .button {
        color: var(--header-navigation--color-#{$color});

        &:hover:not([aria-current]) {
          background-color: var(
            --header-navigation--background-color-#{$color}--hover
          );
        }

        &[data-pressed]:not([aria-current]) {
          background-color: var(
            --header-navigation--background-color-#{$color}--pressed
          );
        }

        &[aria-current] {
          &::after {
            background-color: var(--header-navigation--color-#{$color});
          }
        }
      }
    }
  }

  @include status(dark);
  @include status(light);
}
