@use "@/styles/mixins/focus";

.headerNavigation {
  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--header-navigation--spacing);
  }

  li {
    list-style: none;
  }

  .link {
    padding: var(--header-navigation--padding);
    border-radius: var(--header-navigation--corner-radius);
    color: var(--header-navigation--color);
    position: relative;

    @include focus.focus;

    &:hover:not([aria-current]) {
      background-color: var(--header-navigation--background-color--hover);
    }

    &[data-pressed]:not([aria-current]) {
      background-color: var(--header-navigation--background-color--pressed);
    }

    &[aria-current] {
      font-weight: var(--header-navigation--font-weight-current);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--header-navigation--color);
        height: var(--header-navigation--underline-width-current);
      }
    }
  }

  .button {
    border-radius: var(--header-navigation--corner-radius-round);
  }

  &:not(.light, .dark) {
    .button {
      color: var(--header-navigation--color);

      &:hover,
      &[data-pressed] {
        color: var(--header-navigation--color);
      }
    }
  }

  &.dark {
    .link {
      color: var(--header-navigation--color-dark);

      &:hover:not([aria-current]) {
        background-color: var(
          --header-navigation--background-color-dark--hover
        );
      }

      &[data-pressed]:not([aria-current]) {
        background-color: var(
          --header-navigation--background-color-dark--pressed
        );
      }

      &[aria-current] {
        &::after {
          background-color: var(--header-navigation--color-dark);
        }
      }
    }
  }

  &.light {
    .link {
      color: var(--header-navigation--color-light);

      &:hover:not([aria-current]) {
        background-color: var(
          --header-navigation--background-color-light--hover
        );
      }

      &[data-pressed]:not([aria-current]) {
        background-color: var(
          --header-navigation--background-color-light--pressed
        );
      }

      &[aria-current] {
        &::after {
          background-color: var(--header-navigation--color-light);
        }
      }
    }
  }
}
