.alert {
  border-radius: var(--alert--corner-radius);
  border-width: var(--alert--border-width);
  border-style: var(--alert--border-style);
  border-inline-start-width: var(--alert--border-x-start-width);
  padding: var(--alert--padding);
  display: flex;
  flex-direction: column;
  row-gap: var(--alert--heading-to-content-spacing);
  width: 100%;

  .icon {
    height: var(--heading-line-height);
    width: var(--heading-line-height);
    vertical-align: bottom;
    display: inline-block;
    margin-inline-end: var(--heading--icon-to-text-spacing);
  }

  @extend .info;

  /* Elements */

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--alert--spacing);
  }

  /* Status */

  @mixin status($status) {
    &.#{$status} {
      border-color: var(--alert--#{$status}-border-color);

      .heading {
        color: var(--alert--#{$status}-heading-color);
      }
    }
  }

  @include status(info);
  @include status(warning);
  @include status(danger);
  @include status(success);

  /* Layout */

  + :global(.flow--section) {
    margin-block-start: var(--section--section-to-section-spacing);
  }
  + .alert {
    margin-block-start: var(--section--spacing);
  }
}
