.table {
  &.isLoading {
    pointer-events: none;
    opacity: 0.5;
  }
}

.row {
  transition-property: background-color;
  transition-duration: var(--transition--duration--default);

  &.isSelected {
    background-color: var(--list-item--background-color--pressed);
  }

  &.hasAction {
    cursor: default;

    &:where(:not(.isSelected)) {
      &:hover {
        background-color: var(--list-item--background-color--hover);
      }
    }

    &[data-pressed] {
      background-color: var(--list-item--background-color--pressed);
    }
  }
}
