.popover {
  width: var(--trigger-width);
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu--item-to-item-spacing);
  outline: none;
  padding: var(--popover--padding--m);
}
