.items {
  display: flex;
  flex-direction: column;
  border-radius: var(--list-item--corner-radius);
  border-color: var(--list-item--border-color);
  border-width: var(--list-item--border-width);
  border-style: var(--list-item--border-style);

  &:empty {
    display: none;
  }

  &.isLoading {
    pointer-events: none;
    opacity: 0.5;
  }

  &[data-empty="true"] {
    border: none;
  }

  &:not(.tiles) {
    overflow: hidden;
  }

  &.tiles {
    display: grid;
    border: none;
    gap: var(--list-item--spacing);
    &:has(.emptyView) {
      display: flex;
    }
  }
}
