.donutChart {
  position: relative;
  width: fit-content;
  flex-shrink: 0;

  .border {
    stroke: var(--donut-chart--border-color);
  }

  .background {
    stroke: var(--donut-chart--background-color);
  }

  .value {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: anywhere;
    padding: var(--donut-chart--padding--m);
  }

  &.size-l {
    .value {
      font-size: var(--heading-size--xl);
      padding: var(--donut-chart--padding--l);

      small {
        font-size: var(--heading-size--l);
      }
    }
  }

  /* Variants */
  @mixin status($status) {
    &.#{$status} {
      .fill {
        stroke: var(--donut-chart--#{$status}-fill-background-color);
      }
    }
  }

  @include status(info);
  @include status(success);
  @include status(danger);
  @include status(warning);
}

.donutChartContainer {
  display: flex;
  gap: var(--donut-chart--spacing-y) var(--donut-chart--spacing-x);
  align-items: center;

  &.bottom {
    flex-direction: column;
  }

  &.top {
    flex-direction: column-reverse;
  }

  &.right {
    .legend {
      justify-content: start;
    }
  }

  &.left {
    flex-direction: row-reverse;

    .legend {
      justify-content: start;
    }
  }
}
