.body {
  background-color: var(--neutral--color--100);
}

.center {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "nav      main"
    "footer    .  ";
  grid-template-columns: 260px minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  grid-gap: var(--size-px--l);
  padding-inline: var(--size-px--l);
}

@media (max-width: 767px) {
  .center {
    grid-template-areas:
      "nav   "
      "main  ";
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: var(--size-px--m) var(--size-px--l);
  flex-wrap: wrap;
  gap: var(--size-rem--m);

  &:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: var(--primary--color--100);
    position: absolute;
    z-index: -1;
  }
}

.betaBadge {
  flex-shrink: 0;
  margin-inline-end: auto;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

@media (min-width: 1024px) {
  .main {
    padding: var(--size-px--l) var(--size-px--xl);
  }
}
