.body {
  background-color: var(--neutral--color--300);
}

.center {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "nav      main"
    "footer    .  ";
  grid-template-columns: 260px minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  grid-gap: var(--size-px--l);
  padding-inline: var(--size-px--l);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: var(--size-px--m) var(--size-px--l);
  flex-wrap: wrap;
  gap: var(--size-rem--m);

  &:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: var(--primary--color--100);
    position: absolute;
    z-index: -1;
  }
}

.logo {
  color: var(--heading--color);
}

.betaBadge {
  flex-shrink: 0;
  margin-inline-end: auto;
}

.mainNavigation {
  grid-area: nav;
}

.mobileNavigation {
  display: none;
}

.mobileNavigationOffCanvas {
  > div {
    max-width: 400px;
  }

  h2 {
    display: none;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  row-gap: var(--size-px--l);
}

.mainContainer {
  display: flex;
  column-gap: var(--size-px--l);

  .mainContent {
    flex-grow: 1;
  }

  .sideNavigation {
    position: sticky;
    top: var(--size-px--l);
    height: min-content;
    width: 250px;
    padding-inline: var(--size-px--m);
    a {
      font-size: var(--font-size--s);
    }
  }
}

@media (max-width: 900px) {
  .center {
    grid-template-areas:
      "nav   "
      "main  ";
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }

  .mainNavigation,
  .headerNavigation {
    display: none;
  }

  .mobileNavigation {
    display: block;
  }

  .header {
    padding: var(--size-px--xs) var(--size-px--s);
    row-gap: var(--size-rem--s);
  }

  .center {
    padding-inline: var(--size-px--s);
  }
}

@media (max-width: 1200px) {
  .sideNavigation {
    display: none;
  }
}
