.body {
  background-color: var(--neutral--color--300);
}

.center {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "nav      main"
    "footer    .  ";
  grid-template-columns: 270px minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  grid-gap: var(--size-px--l);
  padding-inline: var(--size-px--l);

  &:has(.mainNavigation:empty) {
    grid-template-areas:
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: var(--size-px--m) var(--size-px--l);
  flex-wrap: wrap;
  gap: var(--size-rem--m);

  &:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: var(--primary--color--100);
    position: absolute;
    z-index: -1;
  }

  h1 {
    margin-right: auto;
  }
}

.logo {
  color: var(--heading--color);
}

.mainNavigation {
  grid-area: nav;
  padding-inline: var(--size-px--l);

  &:empty {
    display: none;
  }
}

.mobileNavigation {
  display: none;
}

.mobileNavigationOffCanvas {
  > div {
    max-width: 430px;
  }

  section > h2 {
    display: none;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  row-gap: var(--size-px--l);
}

.tabContent {
  display: flex;
  flex-direction: column;
  row-gap: var(--section--content-to-content-spacing);
}

@media (max-width: 900px) {
  .center {
    grid-template-areas:
      "nav   "
      "main  ";
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }

  .mainNavigation,
  .headerNavigation {
    display: none;
  }

  .mobileNavigation {
    display: block;
  }

  .header {
    padding: var(--size-px--xs) var(--size-px--s);
    row-gap: var(--size-rem--s);
  }

  .center {
    padding-inline: var(--size-px--s);
  }
}

.homeImage {
  margin-top: calc(var(--layout-card--padding) * -1);
  margin-inline: calc(var(--layout-card--padding) * -1);
  max-width: none;
  height: auto;
  width: auto;
}
