.notificationProvider {
  position: fixed;
  top: var(--notification-provider--window-to-provider-spacing);
  right: var(--notification-provider--window-to-provider-spacing);
  display: flex;
  flex-direction: column;
  row-gap: var(--notification-provider--notification-to-notification-spacing);
  z-index: 1;

  .notification {
    animation: modal-slide-in var(--transition--duration--slow);
  }
}

@keyframes modal-slide-in {
  from {
    right: -100px;
  }

  to {
    right: 0;
  }
}
