.navigationAvatar {
  margin-top: calc(var(--layout-card--padding) * -1);
  margin-inline: calc(var(--layout-card--padding) * -1);
  margin-bottom: var(--size-px--m);
  width: unset;
  border-radius: 0;
  height: 100px;
}
