.navigationAvatar {
  margin-top: calc(var(--size-px--l) * -1);
  margin-inline: calc(var(--size-px--l) * -1);
  margin-bottom: var(--size-px--m);
  width: unset;
  border-radius: 0;
  height: 120px;

  .initials {
    font-size: 64px;
  }
}
