@import "@/styles";

.tagGroup {
  display: grid;
  grid-template-areas:
    "label"
    "tagList";
}

.label {
  grid-area: label;
  margin-bottom: var(--tag-group--label-to-tag-spacing);
}

.tagList {
  grid-area: tagList;
}
