.gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .paginationDots {
    display: flex;
    justify-content: center;
  }
}
