@font-face {
  font-family: Inter;
  src: url("https://cdn.mittwald.de/fonts/Inter-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("https://cdn.mittwald.de/fonts/Inter-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: FiraCode;
  src: url("https://cdn.mittwald.de/fonts/FiraCode-Regular.woff2");
}
