@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: "RobotoMono";
  src: url(../fonts/RobotoMono-Regular.ttf);
}
