/**
  CSS reset for all Flow components that
  - are not part of other Flow components (avoid eager reset)
  - are not SVGs (see https://stackoverflow.com/questions/46758871/css-reset-via-all-unset-breaks-inline-svg)
 */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    &:where(:not([class*="flow--loading-spinner"])) {
      animation-duration: 0s !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0s !important;
      animation-delay: 0s !important;
      transition-delay: 0s !important;
    }
  }
}

// CSS Specificity: 0-0-2
html
  body
  *:where(
    [class*="flow--"]:not([class*="flow--"] [class*="flow--"], svg, table)
  ) {
  all: initial;
}

/**
  "all: initial" sets "display: inline" for **all elements**. This rule, reverts this for common block elements.
 */
body article:where([class*="flow--"]),
body aside:where([class*="flow--"]),
body address:where([class*="flow--"]),
body blockquote:where([class*="flow--"]),
body div:where([class*="flow--"]),
body footer:where([class*="flow--"]),
body header:where([class*="flow--"]),
body hr:where([class*="flow--"]),
body main:where([class*="flow--"]),
body nav:where([class*="flow--"]),
body p:where([class*="flow--"]),
body pre:where([class*="flow--"]) {
  display: block;
}

body table:where([class*="flow--"]) {
  display: table;
}

// CSS Specificity: 0-0-2
html body *:where([class*="flow--"] [class*="flow--"]) {
  color: inherit;
  font: inherit;
}

// CSS Specificity: 0-0-2
html body *:where([class*="flow--"]:not([class*="flow--"] [class*="flow--"])) {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height--default);
  font-size: var(--size-rem--m);
  font-weight: var(--font-weight--normal);
  color: var(--text--color--default);

  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  */
  *,
  *::before,
  *::after,
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &,
  * {
    margin: 0;
  }

  img,
  picture,
  video,
  svg,
  canvas {
    display: block;
    max-width: 100%;
  }

  input,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /*
  Flow CSS Reset
  */
  ul {
    padding: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
