// CSS Specificity: 0-0-2
html body *:where([data-flow-theme][class*="flow--"]) {
  color: var(--text--color--default);
}

// CSS Specificity: 0-0-2
html body *:where([class*="flow--"]:not([class*="flow--"] [class*="flow--"])) {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height);
  font-size: var(--size-rem--m);
  font-weight: var(--font-weight--normal);
  color: var(--text--color--default);
}
