node_modules
dist
.nx/cache
.nx/workspace-data
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
nx-cloud.env
*.log
*.tsbuildinfo
apps/docs/src/lib/liveCode/dynamicImports.ts
.idea/material_theme_project_new.xml
coverage
packages/components/out
.nx/workspace-data
coverage/*.json
packages/remote-react-components/src/tests/__screenshots__
packages/remote-react-components/dev/vitest/remote-test-server/cache
