@use "@/styles/mixins/focus";

.rating {
  .ratingSegments {
    display: flex;
    width: fit-content;
    order: 2;
  }

  .ratingSegment {
    display: grid;
    grid-template-areas: "star";
    border-radius: var(--corner-radius--default);

    @include focus.focus;

    & {
      outline-offset: calc(var(--size-px--xxs) * -1);
    }

    &[data-focus-visible] {
      transform: scale(1.2);
    }
  }

  .empty,
  .filled {
    grid-area: star;
    transition-property: opacity, transform;
    transition-duration: var(--transition--duration--fast);
  }

  :where(.empty) {
    opacity: 0;
    color: var(--rating--star-color);
  }

  :where(.filled) {
    opacity: 1;
    color: var(--rating--star-filled-color);
  }

  &:not(:has(.ratingSegments:hover)),
  &[data-readonly] {
    .ratingSegment {
      &.current {
        ~ .ratingSegment {
          .empty {
            opacity: 1;
          }

          .filled {
            opacity: 0;
          }
        }
      }
    }

    &:not(:has(.current)) {
      .ratingSegment {
        .empty {
          opacity: 1;
        }

        .filled {
          opacity: 0;
        }
      }
    }
  }

  &:not([data-readonly]) {
    &.ratingSegments:hover {
      .ratingSegment {
        .empty {
          opacity: 0;
        }

        .filled {
          opacity: 1;
        }
      }
    }

    .ratingSegment:hover {
      transform: scale(1.2);
      transform-origin: center;

      ~ .ratingSegment {
        .empty {
          opacity: 1;
        }

        .filled {
          opacity: 0;
        }
      }
    }
  }

  @mixin size($size) {
    &.size-#{$size} .ratingSegment {
      padding: var(--rating--spacing--#{$size});
    }
  }

  @include size(s);
  @include size(m);
}
