@use "~/styles/mixins/containerBreakpointSizes";

.view {
  display: flex;
  padding: var(--list-item--padding);
  gap: var(--list-item--spacing);
  align-items: start;

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--list-item--spacing);
    align-items: center;
    flex-grow: 1;
  }

  .title {
    order: 0;
    flex-grow: 1;
    display: grid;
    grid-column-gap: var(--list-item--avatar-to-title-spacing);
    grid-template-areas:
      "avatar title   "
      "avatar subtitle";
    grid-template-columns: auto 1fr;

    &:empty {
      display: none;
    }

    &:not(:has(.avatar)) {
      grid-template-areas:
        "title   "
        "subtitle";
      grid-template-columns: 1fr;
    }

    &:not(:has(.subTitle)) {
      grid-template-areas: "avatar title";

      &:not(:has(.avatar)) {
        grid-template-areas: "title";
      }
    }

    .avatar {
      grid-area: avatar;
      align-self: center;
    }

    .heading {
      grid-area: title;
      align-self: center;
    }

    .subTitle {
      grid-area: subtitle;
      font-size: var(--list-item--subtitle-font-size);

      .text:not(:last-child):after {
        content: "–";
        display: inline-block;
        margin: 0 var(--size-rem--s);
      }
    }
  }

  .topContent {
    order: 2;
  }

  .action {
    margin-left: auto;
  }

  .bottomContent {
    order: 4;
    width: 100%;
  }
}
