.blue {
  color: var(--primary--color--1000);
}

.violet {
  color: var(--color--soft-contrast-violet--800);
}

.teal {
  color: var(--color--super-teal--800);
}

.lilac {
  color: var(--color--bright-lilac--800);
}

.danger {
  color: var(--danger-plain-content-color);
}

.warning {
  color: var(--warning-plain-content-color);
}

.success {
  color: var(--success-plain-content-color);
}

.info {
  color: var(--info-plain-content-color);
}
