.blue {
  color: var(--color--blue);
}
.violet {
  color: var(--color--violet);
}
.teal {
  color: var(--color--teal);
}
.lilac {
  color: var(--color--lilac);
}
.danger {
  color: var(--danger-plain-content-color);
}
.warning {
  color: var(--warning-plain-content-color);
}
.success {
  color: var(--success-plain-content-color);
}
.info {
  color: var(--info-plain-content-color);
}
