.fileCard {
  border-color: var(--file-card--border-color);
  border-width: var(--file-card--border-width);
  border-style: var(--file-card--border-style);
  border-radius: var(--file-card--corner-radius);
  padding-inline: var(--file-card--padding-x);
  padding-block: var(--file-card--padding-y);
  display: flex;
  gap: var(--file-card--spacing);
  align-items: center;
  max-width: 100%;
  overflow: hidden;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;

    .title,
    .subTitle {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .subTitle {
      font-size: var(--file-card--sub-title-font-size);
    }
  }
}
