.fileCard {
  border-color: var(--file-card--border-color--default);
  border-width: var(--file-card--border-width);
  border-style: var(--file-card--border-style);
  border-radius: var(--file-card--corner-radius);
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--file-card--background-color--default);
  align-items: center;
  display: flex;
  padding-inline: var(--file-card--padding-x);
  padding-block: var(--file-card--padding-y);
  gap: var(--file-card--spacing);
  flex-grow: 1;
  transition-property: background-color;
  transition-duration: var(--transition--duration--default);

  .link {
    display: flex;
    align-items: center;
    padding-inline-start: var(--file-card--padding-x);
    padding-block: var(--file-card--padding-y);
    margin-inline-start: calc(var(--file-card--padding-x) * -1);
    margin-block: calc(var(--file-card--padding-y) * -1);
    gap: var(--file-card--spacing);
    flex-grow: 1;
    min-width: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;

    .title,
    .subTitle {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .subTitle {
      font-size: var(--file-card--sub-title-font-size);
    }
  }

  &:has(.link:hover) {
    background-color: var(--file-card--background-color--hover);
  }
  &:has(.link[data-pressed]) {
    background-color: var(--file-card--background-color--pressed);
  }

  &.failed {
    border-color: var(--file-card--border-color--error);
    background-color: var(--file-card--background-color--error);
  }
}
