.legend {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--legend--spacing-y) var(--legend--spacing-x);
}

:global(.flow--cartesian-chart) {
  .legend {
    margin-top: var(--legend--spacing-y);
  }
}
