@use "@/styles/mixins/focus";

.accordion {
  display: flex;
  flex-direction: column;
  row-gap: var(--accordion--header-to-content-spacing);

  /* Elements */

  .header {
    display: flex;
  }

  .headerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-grow: 1;
    padding-inline: var(--accordion--header-padding-x);
    padding-block: var(--accordion--header-padding-y);
    border-radius: var(--accordion--header-corner-radius);
    column-gap: var(--accordion--heading-to-chevron-spacing);
    border: none;
    background: none;

    @include focus.focus;

    &:hover {
      background-color: var(--accordion--header-background-color--hover);
    }
  }

  .content {
    display: grid;
    grid-template-rows: 0fr;
    transition-property: grid-template-rows, visibility;
    transition-duration: var(--transition--duration--slow);
    visibility: hidden;
  }

  .contentInner {
    padding-block: var(--accordion--content-padding-y);
    padding-inline: var(--accordion--content-padding-x);
    overflow: hidden;
  }

  &.expanded {
    .content {
      grid-template-rows: 1fr;
      visibility: visible;
    }

    .chevron {
      transform: rotate(180deg);
    }
  }
}
