@use "@/styles/mixins/focus";

.accordion {
  display: flex;
  flex-direction: column;

  /* Elements */

  .header {
    display: flex;
    flex-direction: column;
  }

  .headerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-grow: 1;
    padding-inline: var(--accordion--padding-x);
    padding-block: var(--accordion--padding-y);
    border-radius: var(--accordion--corner-radius);
    column-gap: var(--accordion--spacing);
    border: none;
    background: none;
    width: 100%;
    transition-property: background-color;
    transition-duration: var(--transition--duration--default);

    @include focus.focus;

    &:hover {
      background-color: var(--accordion--background-color--hover);
    }
  }

  .content {
    display: grid;
    grid-template-rows: 0fr;
    transition-property: grid-template-rows, visibility;
    transition-duration: var(--transition--duration--slow);

    visibility: hidden;
  }

  .contentInner {
    overflow: hidden;
    padding-inline: var(--accordion--padding-x);
    transition-property: padding;
    transition-duration: var(--transition--duration--slow);
  }

  .chevron {
    transition-property: transform;
    transition-duration: var(--transition--duration--default);
  }

  &.outline {
    border-color: var(--accordion--border-color);
    border-width: var(--accordion--border-width);
    border-style: var(--accordion--border-style);
    border-radius: var(--accordion--corner-radius);
  }

  &.expanded {
    .content {
      grid-template-rows: 1fr;
      visibility: visible;
    }

    .contentInner {
      padding-block: var(--accordion--padding-y);
    }

    .chevron {
      transform: rotate(180deg);
    }
  }
}
