@import "@/styles";

.toast {
  border-radius: var(--toast--border-radius);
  border-inline-start-width: var(--toast--border-inline-start-width);
  border-inline-start-style: var(--toast--border-inline-start-style);
  padding: var(--toast--padding);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--toast--icon-to-text-spacing);
  grid-row-gap: var(--toast--text-to-text-spacing);
  box-shadow: var(--toast--shadow);
  width: var(--toast--width);

  @extend .info;

  /* With custom icon */
  &:has(.customIcon) .statusIcon {
    display: none;
  }

  /* Without content */
  &:not(:has(.content)) {
    grid-template-areas: "icon heading close";
  }

  /* With content */
  &:has(.content) {
    grid-template-areas:
      "icon heading close"
      ".    content content";
  }
}

/* Elements */
.customIcon,
.statusIcon {
  grid-area: icon;
  align-self: center;
  font-size: var(--toast--icon-size);
  line-height: calc(var(--toast--heading-font-size) * 1.5);
}

h3.heading {
  grid-area: heading;
  font-size: var(--toast--heading-font-size);
}

.content {
  grid-area: content;
}

.close {
  grid-area: close;
}

/* Variants */
@mixin variant($variant) {
  .#{$variant} {
    border-color: var(--toast--#{$variant}-border-color);
    .heading,
    .customIcon,
    .statusIcon {
      color: var(--toast--#{$variant}-heading-color);
    }
    &:hover {
      background-color: var(--toast--#{$variant}-background-color--hover);
    }
    &[data-pressed] {
      background-color: var(--toast--#{$variant}-background-color--pressed);
    }
  }
}

@include variant(info);
@include variant(warning);
@include variant(danger);
@include variant(success);
