:global(.recharts-tooltip-wrapper-right) {
  margin-left: calc(var(--popover--tip-height) + var(--chart-tooltip--spacing));
}

:global(.recharts-tooltip-wrapper-left) {
  margin-left: calc(
    calc(var(--popover--tip-height) + var(--chart-tooltip--spacing)) * -1
  );
}

.tooltip {
  background-color: var(--popover--background-color);
  box-shadow: var(--popover--box-shadow);
  border-radius: var(--popover--corner-radius);
  border-width: var(--popover--border-width);
  border-style: var(--popover--border-style);
  border-color: var(--popover--border-color);
  padding: var(--popover--padding--m);
}
