.offCanvas {
  &.offCanvas {
    justify-content: flex-end;
  }

  > div {
    border-radius: var(--off-canvas--corner-radius);
    background: var(--off-canvas--background-color);
    width: calc(100vw - var(--size-px--xxl));
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;

    &[data-entering] {
      animation: off-canvas-slide-in var(--transition--duration--slow);
    }

    &[data-exiting] {
      animation: off-canvas-slide-out var(--transition--duration--default)
        reverse ease-in;
    }

    [role="dialog"] {
      padding: var(--off-canvas--padding);
      outline: none;
      height: 100%;
      max-height: inherit;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: var(--off-canvas--heading-to-close-button-spacing);
      margin-bottom: var(--off-canvas--header-to-content-spacing);
    }

    .closeButton {
      align-self: start;
      margin-inline-start: auto;
    }
  }
}

@keyframes off-canvas-slide-in {
  from {
    margin-right: -100px;
  }

  to {
    margin-right: 0;
  }
}

@keyframes off-canvas-slide-out {
  from {
    margin-right: -100px;
  }

  to {
    margin-right: 0;
  }
}
