.chat {
  display: flex;
  flex-direction: column;

  .messageThreadContainer {
    overflow: auto;
    padding-bottom: var(--chat--spacing);
    padding-right: var(--chat--spacing);
    margin-right: calc(var(--chat--spacing) * -1);
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .fileCardList {
    margin-top: var(--chat--spacing);
  }

  .controls:not(:has(form)),
  .controls form {
    display: flex;
    align-items: flex-start;
    border-top-width: var(--separator--height);
    border-top-color: var(--separator--color);
    border-top-style: var(--border-style--default);
    gap: var(--chat--spacing);
    padding-top: var(--chat--spacing);

    :global(.flow--form-field) {
      flex-grow: 1;
    }
  }
}

@media (max-width: 550px) {
  .controls:not(:has(form)),
  .controls form {
    flex-wrap: wrap;

    .accentButton {
      flex-grow: 1;
    }
  }
}
