.chat {
  display: flex;
  flex-direction: column;

  .messageThreadContainer {
    overflow: auto;
    padding-bottom: var(--chat--spacing);
    padding-right: var(--size-px--m);
    margin-right: calc(var(--size-px--m) * -1);
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .fileCardList {
    margin-top: var(--chat--spacing);
  }

  .controls:not(:has(form)),
  .controls form {
    display: flex;
    align-items: flex-start;
    gap: var(--chat--spacing);
    flex-wrap: wrap;
    padding-top: var(--chat--spacing);

    > :first-child {
      order: 0;
      width: 100%;
    }

    .accentButton,
    .button {
      order: 1;
    }

    .accentButton {
      margin-inline-start: auto;
    }
  }
}

@media (max-width: 550px) {
  .accentButton,
  .button {
    flex-grow: 1;
  }
}
