.section {
  margin-block: var(--section--section-to-section-spacing);
  display: flex;
  flex-direction: column;
  row-gap: var(--section--content-to-content-spacing);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  + .section {
    border-top-width: var(--section--border-width);
    border-top-style: var(--section--border-style);
    border-top-color: var(--section--border-color);
    padding-top: var(--section--section-to-section-spacing);
  }
}
