.section {
  display: flex;
  flex-direction: column;
  row-gap: var(--section--spacing);
  container-type: inline-size;

  > form {
    display: flex;
    flex-direction: column;
    row-gap: var(--section--spacing);
  }

  + .section {
    margin-block-start: var(--section--section-to-section-spacing);
  }

  &:not(.hideSeparator) + .section {
    border-block-start: var(--separator--height) var(--border-style--default)
      var(--separator--color);
    padding-block-start: var(--section--section-to-section-spacing);
  }

  h2.heading:not(:first-child),
  h3.heading:not(:first-child) {
    margin-top: var(--section--sub-heading-spacing-m);
  }

  h4.heading:not(:first-child),
  h5.heading:not(:first-child),
  h6.heading:not(:first-child) {
    margin-top: var(--section--sub-heading-spacing-s);
  }
}
