@use "@/styles/mixins/menuItem";

.navigation {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: var(--menu--item-to-item-spacing);

    &:empty {
      display: none;
    }
  }

  .item {
    @include menuItem.menuItem();

    .badge {
      margin-inline-start: auto;
    }
  }

  hr {
    margin-bottom: var(--menu--group-to-group-spacing);
  }
}
