@use "@/styles/mixins/menuItem";
@use "@/styles/mixins/ellipsis";

.navigation {
  display: flex;
  flex-direction: column;
  min-width: 0;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: var(--menu--item-to-item-spacing);

    &:empty {
      display: none;
    }
  }

  .item {
    @include menuItem.menuItem();

    > .icon {
      order: 0;
      flex-shrink: 0;
    }

    > :not(.icon) {
      order: 1;
    }

    > :not(.icon, .badge) {
      @include ellipsis.ellipsis;

      min-width: 0;
    }

    .badge {
      margin-inline-start: auto;
      flex-shrink: 0;
    }
  }

  hr {
    margin-bottom: var(--menu--group-to-group-spacing);
  }
}
