@use "@/styles/mixins/focus";

.sortingPickerMenuItem {
  border-radius: var(--context-menu--corner-radius);
  padding: var(--context-menu--padding);
  display: flex;
  align-items: center;
  column-gap: 4px;

  @include focus.focus;

  &:hover {
    background-color: var(--context-menu-item--background-color--hover);
  }

  &[data-pressed] {
    background-color: var(--context-menu-item--background-color--pressed);
  }
}
