@use "styles/mixins/formControl.scss";

.select {
  .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: var(--font-size-text--default);
    text-align: left;

    @include formControl.formControl();

    & {
      padding-inline-end: var(--button--padding-icon-only);
    }
  }

  &[data-invalid] {
    .toggle {
      border-color: var(--form-control--border-color--invalid);
      background-color: var(--form-control--background-color--invalid);
    }
  }

  :global(.react-aria-SelectValue) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
