@use "@/styles/mixins/textInput.scss";

.select {
  order: 2;
  display: flex;
  align-items: center;
}

.input {
  @include textInput.textInput();
  order: unset;
  padding-inline-end: calc(var(--form-control--padding-x) + 40px);
  flex-grow: 1;
}

.toggle {
  margin-left: -41px;
}

:global(.flow--popover) {
  width: var(--trigger-width);
}
