.loadingSpinner {
  animation: spin var(--loading-spinner--transition-duration) linear infinite;
  color: var(--loading-spinner--color);

  @media (prefers-reduced-motion: reduce) {
    animation-duration: var(--loading-spinner--transition-duration-slow);
  }

  /* Alpha Colors */
  @mixin color($color) {
    &.#{$color} {
      color: var(--loading-spinner--color-#{$color});
    }
  }

  @include color(light);
  @include color(dark);
  @include color(dark-static);
  @include color(light-static);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
