@import "../../../../styles/index.css";

.root {
  border: var(--radiogroup--border-width) solid
    var(--radiogroup--border-color--default);
  padding: var(--radiogroup--padding-y) var(--radiogroup--padding-x);
  flex: 1;
  background-color: var(--radiogroup--background-color--default);
  color: var(--radiogroup--color--default);
  display: grid;
  grid-template-areas: "title";
  row-gap: var(--radiogroup--text-to-text);
  column-gap: var(--radiogroup--icon-to-text);

  &:first-of-type {
    border-top-left-radius: var(--radiogroup--border-radius);
    border-bottom-left-radius: var(--radiogroup--border-radius);
  }

  &:last-of-type {
    border-top-right-radius: var(--radiogroup--border-radius);
    border-bottom-right-radius: var(--radiogroup--border-radius);
  }

  :global(.flow-content) {
    grid-area: content;
  }

  :global(.flow-text:not(.flow-content)) {
    grid-area: title;
  }

  > :global(.flow-icon) {
    grid-area: icon;
    height: var(--line-height--default);
  }

  &:has(> :global(.flow-icon)) {
    grid-template-areas:
      "icon"
      "title";
    justify-items: center;
    border-radius: var(--radiogroup--border-radius);
    font-weight: var(--font-weight--bold);
  }

  &:has(:global(.flow-content)) {
    grid-template-areas:
      "title"
      "content";
    justify-items: start;
    border-radius: var(--radiogroup--border-radius);
    font-weight: var(--font-weight--bold);

    :global(.flow-content) {
      font-weight: var(--font-weight--normal);
    }

    &:has(> :global(.flow-icon)) {
      grid-template-areas:
        "icon title"
        ". content";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  &[data-selected] {
    border-color: var(--radiogroup--border-color--selected);
    background-color: var(--radiogroup--background-color--selected);
    color: var(--radiogroup--color--selected);
  }

  &[data-disabled] {
    border-color: var(--radiogroup--border-color--disabled);
    background-color: var(--radiogroup--background-color--disabled);
    color: var(--radiogroup--color--disabled);
  }

  &[data-disabled]&[data-selected] {
    border-color: var(--radiogroup--border-color--selected-disabled);
    background-color: var(--radiogroup--background-color--selected-disabled);
    color: var(--radiogroup--color--selected-disabled);
  }
}
