@import "@/styles";

.root {
  --icon-padding-top: calc(
    (var(--size-rem--m) * var(--line-height--default) - var(--size-rem--m)) / 2
  );

  border: var(--radiogroup--border-width) solid
    var(--radiogroup--border-color--default);
  padding: var(--radiogroup--padding-y) var(--radiogroup--padding-x);
  background-color: var(--radiogroup--background-color--default);
  color: var(--radiogroup--color--default);
  display: grid;
  row-gap: var(--radiogroup--text-to-text-spacing);
  column-gap: var(--radiogroup--icon-to-text-spacing);

  /* elements */

  .icon {
    grid-area: icon;
  }

  .label {
    grid-area: label;
  }

  .content {
    grid-area: content;
    font-weight: var(--font-weight--normal);
  }

  .checkmark {
    grid-area: checkmark;
    display: none;
    padding-top: var(--icon-padding-top);
  }

  /* without icon and content */

  &:not(:has(.content)):not(:has(.icon)) {
    grid-template-areas: "label checkmark";
    grid-template-columns: 1fr auto;
    flex: 1;

    &:first-of-type {
      border-radius: 0;
      border-start-start-radius: var(--radiogroup--border-radius);
      border-end-start-radius: var(--radiogroup--border-radius);
    }

    &:last-of-type {
      border-radius: 0;
      border-start-end-radius: var(--radiogroup--border-radius);
      border-end-end-radius: var(--radiogroup--border-radius);
    }

    &[data-selected] .checkmark {
      display: block;
    }

    @container (max-width: 600px) {
      flex: auto;
      width: 100%;
      margin-top: -1px; /* Collapse borders */

      &:first-of-type {
        border-radius: 0;
        border-start-start-radius: var(--radiogroup--border-radius);
        border-start-end-radius: var(--radiogroup--border-radius);
      }

      &:last-of-type {
        border-radius: 0;
        border-end-end-radius: var(--radiogroup--border-radius);
        border-end-start-radius: var(--radiogroup--border-radius);
      }
    }
  }

  /* with icon */

  &:has(.icon) {
    grid-template-areas:
      "icon"
      "label";
    grid-template-columns: 1fr;
    justify-items: center;
    border-radius: var(--radiogroup--border-radius);
    font-weight: var(--font-weight--bold);
  }

  /* with content */

  &:has(.content) {
    grid-template-areas:
      "label"
      "content";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: start;
    border-radius: var(--radiogroup--border-radius);
    font-weight: var(--font-weight--bold);
  }

  /* with icon and content */

  &:has(.content):has(.icon) {
    grid-template-areas:
      "icon label"
      ".    content";
    grid-template-columns: auto 1fr;

    .icon {
      padding-top: var(--icon-padding-top);
    }
  }

  /* states */

  &:hover {
    background-color: var(--radiogroup--background-color--hover);
  }

  &[data-selected] {
    border-color: var(--radiogroup--border-color--selected);
    background-color: var(--radiogroup--background-color--selected);
    color: var(--radiogroup--color--selected);
    z-index: 1;
  }

  &[aria-disabled] {
    border-color: var(--radiogroup--border-color--disabled);
    background-color: var(--radiogroup--background-color--disabled);
    color: var(--radiogroup--color--disabled);
  }

  &[aria-disabled][data-selected] {
    border-color: var(--radiogroup--border-color--selected-disabled);
    background-color: var(--radiogroup--background-color--selected-disabled);
    color: var(--radiogroup--color--selected-disabled);
  }
}
