@use "../../../../styles/mixins/focus.scss";

.radio {
  display: grid;
  column-gap: var(--form-control--spacing-x);
  grid-template-columns: auto 1fr;
  width: fit-content;

  @include focus.focus;

  .icon {
    color: var(--choice--icon-color--default);
  }

  &[data-selected] {
    .icon {
      color: var(--choice--icon-color--selected);
    }
  }

  &[data-disabled] {
    color: var(--text--color--disabled);

    .icon {
      color: var(--choice--icon-color--disabled);
    }
  }
}
