@import "@/styles";

.root {
  border: var(--radiogroup--border-width) solid
    var(--radiogroup--border-color--default);
  padding: var(--radiogroup--padding-y) var(--radiogroup--padding-x);
  flex: 1;
  background-color: var(--radiogroup--background-color--default);
  color: var(--radiogroup--color--default);
  display: grid;
  grid-template-areas: "label checkmark";
  grid-template-columns: 1fr auto;
  row-gap: var(--radiogroup--text-to-text-spacing);
  column-gap: var(--radiogroup--icon-to-text-spacing);

  &:first-of-type {
    border-start-start-radius: var(--radiogroup--border-radius);
    border-end-start-radius: var(--radiogroup--border-radius);
  }

  &:last-of-type {
    border-start-end-radius: var(--radiogroup--border-radius);
    border-end-end-radius: var(--radiogroup--border-radius);
  }

  > :global(.flow-icon) {
    height: var(--line-height--default);
  }

  &:has(.icon),
  &:has(.content) {
    border-radius: var(--radiogroup--border-radius);
    font-weight: var(--font-weight--bold);
  }

  &:has(.icon) {
    grid-template-areas:
      "icon"
      "label";
    justify-items: center;
    grid-template-columns: 1fr;
  }

  &:has(.content) {
    grid-template-areas:
      "label"
      "content";
    justify-items: start;
    grid-template-columns: 1fr;

    &:has(.icon) {
      grid-template-areas:
        "icon label"
        ".    content";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      justify-items: start;
    }
  }

  &:hover {
    background-color: var(--radiogroup--background-color--hover);
  }

  &[data-selected] {
    border-color: var(--radiogroup--border-color--selected);
    background-color: var(--radiogroup--background-color--selected);
    color: var(--radiogroup--color--selected);

    &:not(:has(.icon)):not(:has(.content)) {
      .checkmark {
        display: block;
      }
    }
  }

  &[data-disabled] {
    border-color: var(--radiogroup--border-color--disabled);
    background-color: var(--radiogroup--background-color--disabled);
    color: var(--radiogroup--color--disabled);
  }

  &[data-disabled]&[data-selected] {
    border-color: var(--radiogroup--border-color--selected-disabled);
    background-color: var(--radiogroup--background-color--selected-disabled);
    color: var(--radiogroup--color--selected-disabled);
  }
}

.icon {
  grid-area: icon;
}

.label {
  grid-area: label;
}

.content {
  grid-area: content;
  font-weight: var(--font-weight--normal);
}

.checkmark {
  grid-area: checkmark;
  display: none;
}
