@use "@/styles/mixins/focus";

.radio {
  display: grid;
  column-gap: var(--radio--icon-to-text-spacing);
  grid-template-columns: auto 1fr;
  width: fit-content;

  @include focus.focus;

  &[data-selected] {
    .icon {
      color: var(--radio--icon-color--selected);
    }
  }

  &[data-disabled] {
    color: var(--radio--color--disabled);

    .icon {
      color: var(--radio--icon-color--disabled);
    }
  }
}
