.progressBar {
  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
  row-gap: var(--progress-bar--spacing-y);
  column-gap: var(--progress-bar--spacing-x);
  width: 100%;
  font-size: var(--progress-bar--font-size);

  @extend .info;

  /* Elements */

  .label {
    grid-area: label;
  }

  .value {
    grid-area: value;
    font-weight: var(--progress-bar--value-font-weight);
  }

  .bar {
    grid-area: bar;
    height: var(--progress-bar--height);
    border-radius: var(--progress-bar--corner-radius);
    box-shadow: inset 0 0 0 var(--progress-bar--border-width)
      var(--progress-bar--border-color);
    overflow: hidden;
  }

  .fill {
    height: 100%;
  }

  /* Size */

  &.size-s {
    font-size: var(--progress-bar--font-size-s);

    .bar {
      height: var(--progress-bar--height-s);
    }
  }

  /* Variants */

  @mixin status($status) {
    &.#{$status} {
      .fill {
        background: var(--progress-bar--#{$status}-fill-background-color);
      }
    }
  }

  @include status(info);
  @include status(success);
  @include status(danger);
  @include status(warning);
}
