.progressBar {
  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
  gap: var(--progress-bar--label-to-bar-spacing);
  width: 100%;
  font-size: var(--progress-bar--font-size);

  @extend .info;

  .label {
    grid-area: label;
  }
}

.value {
  grid-area: value;
  font-weight: var(--progress-bar--value-font-weight);
}

.bar {
  grid-area: bar;
  height: var(--progress-bar--bar-height);
  border-radius: var(--progress-bar--bar-border-radius);
  overflow: hidden;
  background: var(--progress-bar--info-bar-background-color);
}

.size-s {
  .bar {
    height: var(--progress-bar--bar-height-small);
  }
}

.fill {
  background: var(--progress-bar--info-fill-background-color);
  height: 100%;
  border-radius: var(--progress-bar--bar-border-radius);
}

/* Variants */
@mixin status($status) {
  .#{$status} {
    .bar {
      background: var(--progress-bar--#{$status}-bar-background-color);
    }

    .fill {
      background: var(--progress-bar--#{$status}-fill-background-color);
    }
  }
}

@include status(info);
@include status(success);
@include status(danger);
@include status(warning);
