.avatar {
  border-radius: var(--corner-radius--round);
  width: var(--avatar-size);
  height: var(--avatar-size);
  overflow: hidden;
  flex-shrink: 0;
  font-weight: var(--font-weight--bold);
  font-size: calc(var(--avatar-size) * 0.35);

  background-color: var(--background-color);
  color: var(--content-color);

  display: flex;
  align-items: center;
  justify-content: center;

  /* Elements */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icon {
    width: calc(var(--avatar-size) * 0.7);
    height: calc(var(--avatar-size) * 0.7);
  }

  .initials {
    font-size: calc(var(--avatar-size) * 0.4);
  }

  @extend .size-m;
  @extend .blue;

  /* Sizes */

  @mixin size($size) {
    &.size-#{$size} {
      --avatar-size: var(--avatar--size--#{$size});
    }
  }

  @include size(m);
  @include size(xs);
  @include size(s);
  @include size(l);

  /* Colors */

  @mixin color($color) {
    &:has(.initials[data-dynamic-color="#{$color}"]),
    &.#{$color} {
      --background-color: var(--decorative--#{$color}-background-color);
      --content-color: var(--decorative--#{$color}-content-color);
      --content-accent-color: var(--decorative--#{$color}-content-accent-color);
    }
  }

  @include color("blue");
  @include color("teal");
  @include color("green");
  @include color("violet");
  @include color("lilac");

  /* Status */

  @mixin status($status) {
    &.#{$status} {
      --background-color: var(--avatar--#{$status}-status-background-color);
    }
  }

  @include status("info");
  @include status("success");
  @include status("warning");
  @include status("danger");
}
