.avatar {
  border-radius: var(--corner-radius--round);
  width: var(--avatar-size);
  height: var(--avatar-size);
  overflow: hidden;
  flex-shrink: 0;

  > * {
    width: 100%;
    height: 100%;
  }

  > img {
    object-fit: cover;
  }

  @extend .size-m;
}

/* Elements */

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--avatar-size) * 0.4);
}

/* Sizes */
@mixin size($size) {
  .size-#{$size} {
    --avatar-size: var(--avatar--size--#{$size});
  }
}

@include size(m);
@include size(xs);
@include size(s);
@include size(l);
