.accentBox {
  align-self: normal;
  padding: var(--accent-box--padding);
  border-radius: var(--accent-box--corner-radius);
  isolation: isolate;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 0;

  &.gradient {
    background: var(--accent-box--background-color-gradient);
  }

  /* Color */

  @mixin status($color) {
    &.#{$color} {
      background-color: var(--accent-box--background-color-#{$color});
    }
  }

  @include status("neutral");
  @include status("blue");
  @include status("teal");
  @include status("lilac");
  @include status("violet");
  @include status("green");
}
