.accentBox {
  align-self: normal;
  padding: var(--accent-box--padding);
  border-radius: var(--accent-box--corner-radius);
  isolation: isolate;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 0;

  &.gradient {
    background: var(--accent-box--background-color-gradient);
  }

  /* Color */

  @mixin color($color) {
    &.#{$color} {
      background-color: var(--accent-box--background-color-#{$color});
    }
  }

  @include color("neutral");
  @include color("blue");
  @include color("teal");
  @include color("lilac");
  @include color("violet");
  @include color("green");
  @include color("navy");

  /* backwards compatibility */
  > .icon {
    display: none;
  }
}
