.sectionHeader {
  display: flex;
  gap: var(--section-header--heading-to-action-spacing);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .actions {
    display: flex;
    gap: var(--section-header--action-to-action-spacing);
    margin-inline-start: auto;
    flex-wrap: wrap;
  }

  &:not(:first-child):has(h2),
  &:not(:first-child):has(h3) {
    margin-top: var(--section--sub-heading-spacing-m);
  }

  &:not(:first-child):has(h4),
  &:not(:first-child):has(h5),
  &:not(:first-child):has(h6) {
    margin-top: var(--section--sub-heading-spacing-s);
  }
}
