.sectionHeader {
  display: flex;
  gap: var(--section-header--heading-to-action-spacing);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .actions {
    display: flex;
    gap: var(--section-header--action-to-action-spacing);
    margin-inline-start: auto;
    flex-wrap: wrap;
  }

  &:not(:first-child) {
    margin-top: var(--section--sub-heading-spacing);
  }
}
