.image {
  max-width: 100%;

  &.border {
    border-width: var(--image--border-width);
    border-style: var(--image--border-style);
    border-radius: var(--image--corner-radius);
    border-color: var(--image--border-color);
    overflow: hidden;
  }

  &:where(.aspectRatio) {
    overflow-clip-margin: unset;
    object-fit: cover;
    width: fit-content;
    overflow: hidden;
  }
}
