.contextMenu {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu--item-to-item-spacing);

  hr {
    margin-block: var(--menu--separator-to-item-spacing);
  }

  &:focus-visible {
    outline: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu--item-to-item-spacing);

  &:has(:global(.flow--avatar)) {
    align-items: center;
    padding-top: var(--context-menu--padding);
  }
}

.popoverContent.popoverContent {
  padding: var(--context-menu--padding);
}
