.contextMenu {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu--item-to-item-spacing);

  hr {
    margin-block: var(--menu--separator-to-item-spacing);
  }

  &:focus-visible {
    outline: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu--item-to-item-spacing);
}

.popover [role="dialog"] {
  padding: var(--context-menu--padding);
}
