.actionGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: end;
  flex-grow: 1;

  @extend .s;

  .primary {
    order: 3;

    &:only-child {
      margin-left: auto;
    }
  }

  .secondary {
    order: 2;
  }

  .abort {
    order: 1;
    margin-right: auto;
  }

  @mixin spacing($spacing) {
    &.#{$spacing} {
      gap: var(--action-group--spacing--#{$spacing});
    }
  }

  @include spacing(s);
  @include spacing(m);
}
