.actionGroup {
  display: flex;

  .primary {
    order: 3;
  }

  .secondary {
    order: 2;
  }

  .abort {
    order: 1;
    margin-right: auto;
  }
}

.actionGroupContainer {
  @extend .s;

  &.ignoreBreakpoint {
    .actionGroup {
      flex-wrap: wrap;
    }
  }

  &:not(.ignoreBreakpoint) {
    container-type: inline-size;

    .actionGroup {
      @container (max-width: 550px) {
        display: flex;
        flex-direction: column-reverse;

        .primary,
        .secondary,
        .abort {
          width: 100%;
        }

        .secondary {
          flex-direction: column-reverse;

          & > * {
            width: 100%;
          }
        }
      }
    }
  }

  @mixin spacing($spacing) {
    &.#{$spacing} {
      .actionGroup {
        gap: var(--action-group--spacing--#{$spacing});
      }
    }
  }

  @include spacing(s);
  @include spacing(m);
}
