.actionGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @mixin spacing($spacing) {
    &.#{$spacing} {
      gap: var(--action-group--spacing--#{$spacing});
    }
  }

  @include spacing(s);
  @include spacing(m);

  &.sorted {
    justify-content: flex-end;
    flex-grow: 1;

    .primary {
      order: 3;

      &:only-child {
        margin-inline-start: auto;
      }
    }

    .secondary {
      order: 2;
    }

    .abort {
      order: 1;
      margin-inline-end: auto;
    }
  }
}
