.navigationGroup {
  &:not(.collapsable) ul {
    padding: var(--accordion--content-padding);
  }
  &:not(:last-child) {
    margin-bottom: var(--menu--group-to-group-spacing);
  }

  .label {
    display: block;
    margin-block: var(--menu--label-to-group-spacing);
    padding-inline-start: var(--accordion--header-padding-x);
  }
}
