.navigationGroup {
  &:not(.collapsable) ul {
    padding-inline: var(--accordion--padding-x);
    padding-block: var(--accordion--padding-y);
  }

  &:not(:last-child) {
    margin-bottom: var(--menu--group-to-group-spacing);
  }

  .label {
    display: block;
    padding-block: var(--accordion--padding-y);
  }
}
