.columnLayoutContainer {
  container-type: inline-size;
}

.columnLayout {
  display: grid;
  gap: var(--column-layout--content-to-content-spacing);
  grid-template-columns: var(--column-layout--columns-l, 1fr 1fr 1fr);

  @container (max-width: 850px) {
    grid-template-columns: var(--column-layout--columns-m, 1fr 1fr);
  }

  @container (max-width: 550px) {
    grid-template-columns: var(--column-layout--columns-s, 1fr);
  }
}
