@import "@/styles";

.root {
  border-radius: var(--banner--border-radius);
  border: var(--banner--border-width--default) var(--banner--border-style)
    var(--banner--info-border-color);
  border-inline-start-width: var(--banner--border-width--main);
  padding: var(--banner--padding);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--banner--icon-to-text-spacing);
  grid-row-gap: var(--banner--text-to-text-spacing);

  /* Elements */

  .heading {
    grid-area: heading;
    color: var(--banner--info-heading-color);
    font-size: var(--banner--heading-font-size);
  }

  .customIcon,
  .defaultIcon {
    grid-area: icon;
    color: var(--banner--info-heading-color);
    width: var(--banner--icon-size);
    height: var(--banner--icon-size);
    padding-top: calc(
      (var(--size-rem--m) * var(--line-height--default) - var(--icon--size--m)) /
        2
    );
  }

  .content {
    grid-area: content;
  }

  /* With custom icon */

  &:has(.customIcon) .defaultIcon {
    display: none;
  }

  /* Without content */

  &:not(:has(.content)) {
    grid-template-areas: "icon heading";
  }

  /* With content */

  &:has(.content) {
    grid-template-areas:
      "icon heading"
      ".    content";
  }
}

.warning {
  border-color: var(--banner--warning-border-color);
  .heading,
  .customIcon,
  .defaultIcon {
    color: var(--banner--warning-heading-color);
  }
}

.negative {
  border-color: var(--banner--danger-border-color);
  .heading,
  .customIcon,
  .defaultIcon {
    color: var(--banner--danger-heading-color);
  }
}
