.header {
  display: flex;
  flex-direction: column;
  row-gap: var(--list--spacing);
  container-type: inline-size;

  &:has(.headerContent:empty) {
    display: none;
  }

  .headerContent {
    display: flex;
    gap: var(--list--spacing);
    flex-flow: row-reverse wrap;
  }

  .actions {
    flex-grow: 0;
  }

  .options {
    display: flex;
    gap: var(--list--spacing);
    flex-grow: 1;
    flex-wrap: wrap;
  }

  @container (min-width: 850px) {
    &.withSearch .hideOnDesktop {
      display: none;
    }
  }

  @container (max-width: 850px) {
    &.withSearch .hideOnMobile {
      display: none;
    }
  }

  @container (min-width: 650px) {
    &:not(.withSearch) .hideOnDesktop {
      display: none;
    }
  }

  @container (max-width: 650px) {
    &:not(.withSearch) .hideOnMobile {
      display: none;
    }
  }

  @container (max-width: 550px) {
    .headerContent {
      flex-direction: column;
    }

    .actions {
      flex-grow: 1;
    }

    .action {
      flex: 1;
    }
  }
}
