.header {
  display: flex;
  flex-direction: column;
  row-gap: var(--list--spacing);

  .pickerListAndSearch {
    display: flex;
    row-gap: var(--list--block-to-block-spacing);
    column-gap: var(--list--filter-to-search-spacing);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }

  .pickerList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--list--spacing);
  }

  .searchAndActions {
    display: flex;
    flex-grow: 1;
    gap: var(--list--spacing);
    flex-wrap: wrap-reverse;
    justify-content: flex-end;

    > * {
      flex-grow: 0;
    }
  }

  .searchField {
    max-width: 500px;
    flex-grow: 1;
  }
}
