.message {
  display: flex;
  flex-direction: column;
  row-gap: var(--message--spacing-y);
  width: max-content;
  max-width: min(100%, var(--text--max-width));

  .content {
    grid-area: content;
    border-radius: var(--message--corner-radius);
    padding-inline: var(--message--padding-x);
    padding-block: var(--message--padding-y);
    background-color: var(--message--background-color-responder);
  }

  &.sender {
    align-self: flex-end;
    .header {
      flex-direction: row-reverse;

      .user {
        flex-direction: row-reverse;

        :global(.flow--text) {
          text-align: end;
        }
      }
    }

    .content {
      background-color: var(--message--background-color-sender);
      border-top-right-radius: 0;
    }
  }

  &.responder {
    .content {
      border-top-left-radius: 0;
    }
  }

  .header {
    display: flex;
    column-gap: var(--message--spacing-x);
    row-gap: var(--message--spacing-y);
    align-items: end;
    flex-wrap: wrap;

    .user {
      order: 1;
      flex-grow: 1;
    }

    .date {
      font-size: var(--font-size-text--s);
      order: 2;
    }

    .action {
      order: 3;
    }
  }
}
