.message {
  display: flex;
  flex-direction: column;
  row-gap: var(--message--spacing-y);
  width: max-content;
  max-width: min(100%, var(--text--max-width));
  --message-background: var(--message--background-color-responder);

  .content {
    grid-area: content;
    border-radius: var(--message--corner-radius);
    padding-inline: var(--message--padding-x);
    padding-block: var(--message--padding-y);
    background-color: var(--message-background);
    position: relative;

    .tip {
      position: absolute;
      top: 0;
      width: var(--message--tip-size-x);
      height: var(--message--tip-size-y);
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--message--tip-size-x);
        height: var(--message--tip-size-y);
      }
    }
  }

  .actionGroup {
    justify-content: start;
    .actionGroupAction {
      margin: 0;
    }
  }

  &.sender {
    align-self: flex-end;
    --message-background: var(--message--background-color-sender);

    .header {
      flex-direction: row-reverse;

      .user {
        flex-direction: row-reverse;

        :global(.flow--text) {
          text-align: end;
        }
      }
    }

    .content {
      background-color: var(--message-background);
      border-top-right-radius: 0;
      margin-inline-end: var(--message--tip-size-x);

      .tip {
        right: calc(var(--message--tip-size-x) * -1);
        &:before {
          border-top-left-radius: 100%;
          box-shadow: 0 0 0 var(--message--tip-size-x) var(--message-background);
        }
      }
    }

    .action,
    .actionGroup {
      margin-inline-end: var(--message--tip-size-x);
      align-self: end;
    }
  }

  &.responder {
    .content {
      border-top-left-radius: 0;
      margin-inline-start: var(--message--tip-size-x);

      .tip {
        left: calc(var(--message--tip-size-x) * -1);
        &:before {
          border-top-right-radius: 100%;
          box-shadow: var(--message--tip-size-x) 0 0 var(--message--tip-size-x)
            var(--message-background);
        }
      }
    }

    .action,
    .actionGroup {
      margin-inline-start: var(--message--tip-size-x);
    }
  }

  .header {
    display: flex;
    column-gap: var(--message--spacing-x);
    row-gap: var(--message--spacing-y);
    align-items: end;
    flex-wrap: wrap;

    .user {
      order: 1;
      flex-grow: 1;
    }

    .date {
      font-size: var(--font-size-text--s);
      order: 2;
    }

    .headerAction {
      order: 3;
    }
  }
}
