@use "@/styles/mixins/focus";

.item {
  cursor: default;
  background-color: var(--list-item--background-color--default);

  @include focus.focus;

  &.item {
    outline-offset: calc(var(--size-px--xs) * -1);
  }

  &:where(.isSelected) {
    background-color: var(--list-item--background-color--pressed);
  }

  &:not(:last-child) {
    border-bottom-color: var(--list-item--border-color);
    border-bottom-width: var(--list-item--border-width);
    border-bottom-style: var(--list-item--border-style);
  }

  &[data-href] {
    cursor: pointer;
  }

  &:where(.hasAction):not(
      &:has(:global(.flow--list--items--item--view--bottom-content):hover)
    ) {
    &:not(.isSelected) {
      &:hover {
        background-color: var(--list-item--background-color--hover);
      }
    }

    &[data-pressed] {
      background-color: var(--list-item--background-color--pressed);
    }
  }

  &.tile {
    border: none;

    &:where(.hasAction) {
      &:not(.isSelected) {
        &:hover {
          :global(.flow--avatar) {
            filter: brightness(var(--image-button--brightness--hover));
          }
        }
      }

      &[data-pressed] {
        :global(.flow--avatar) {
          filter: brightness(var(--image-button--brightness--pressed));
        }
      }
    }
  }
}
