@use "@/styles/mixins/focus";

.item {
  cursor: default;
  background-color: var(--list-item--background-color--default);
  transition-property: background-color;
  transition-duration: var(--transition--duration--default);

  @include focus.focus;

  &.item {
    outline-offset: calc(var(--size-px--xs) * -1);
    box-shadow: none;
  }

  &:where(.isSelected) {
    background-color: var(--list-item--background-color--pressed);
  }

  &:not(:last-child) {
    border-bottom: var(--list-item--border-width) var(--list-item--border-style)
      var(--list-item--border-color);
  }

  &[data-href] {
    cursor: pointer;
  }

  &:where(.hasAction):not(
      &:has(:global(.flow--list--items--item--view--bottom-content):hover)
    ) {
    &:where(:not(.isSelected)) {
      &:hover {
        background-color: var(--list-item--background-color--hover);
      }
    }

    &[data-pressed] {
      background-color: var(--list-item--background-color--pressed);
    }
  }

  :global(.flow--avatar) {
    transition-property: filter;
    transition-duration: var(--transition--duration--default);
  }

  &.tile {
    border: none;

    &.item {
      outline-offset: var(--size-px--xxs);
    }

    &:where(.hasAction) {
      &:not(.isSelected) {
        &:hover {
          :global(.flow--avatar) {
            filter: brightness(var(--image-button--brightness--hover));
          }
        }
      }

      &[data-pressed] {
        :global(.flow--avatar) {
          filter: brightness(var(--image-button--brightness--pressed));
        }
      }
    }
  }
}
