@import "@/styles";

.root {
  font-size: var(--tag--font-size);
  border-radius: var(--tag--border-radius);
  background-color: var(--tag--background-color--default);
  padding-block: var(--tag--padding-y);
  padding-inline: var(--tag--padding-x);
  cursor: default;

  &[data-selected] {
    background-color: var(--tag--background-color--selected);
    color: var(--tag--color--selected);
    font-weight: var(--tag--font-weight--selected);
  }

  &:hover {
    background-color: var(--tag--background-color--hover);
  }

  &[data-disabled] {
    background-color: var(--tag--background-color--disabled);
    color: var(--tag--color--disabled);
  }
}
