@import "@/styles";

.tag {
  font-size: var(--tag--font-size);
  font-weight: var(--tag--font-weight);
  border-radius: var(--tag--border-radius);
  background-color: var(--tag--background-color--default);
  padding-block: var(--tag--padding-y);
  padding-inline: var(--tag--padding-x);
  cursor: default;

  &:has(.closeButton){
    padding: 0;
    [role="gridcell"]{
      display: flex !important;
      align-items: center;
    }
    .text{
      padding-block: var(--tag--padding-y);
      padding-inline: var(--tag--padding-x);
    }
  }

  &[data-selected] {
    background-color: var(--tag--background-color--selected);
    color: var(--tag--color--selected);
  }

  &:hover {
    background-color: var(--tag--background-color--hover);
  }

  &[data-disabled] {
    background-color: var(--tag--background-color--disabled);
    color: var(--tag--color--disabled);
  }
}
