.emulatedBoldText {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.boldText {
  font-weight: var(--font-weight--bold);
  height: 0;
  line-height: 0;
  visibility: hidden;
  overflow: clip;
}
