@use "@/styles/mixins/focus";

.item {
  --title-width: 30ch;
  cursor: default;
  padding: var(--list-item--padding);
  background-color: var(--list-item--background-color--default);
  display: grid;
  gap: var(--list-item--content-to-content-spacing);
  width: 100%;

  &:has(.title:not(:empty)):has(.topContent):has(.content):has(.action) {
    grid-template-areas:
      "title   topContent action "
      "content content    content";
    grid-template-columns: var(--title-width) 1fr auto;
  }

  &:has(.title:not(:empty)):has(.topContent):has(.content):not(:has(.action)) {
    grid-template-areas:
      "title   topContent"
      "content content   ";
    grid-template-columns: var(--title-width) 1fr;
  }

  &:has(.title:not(:empty)):has(.topContent):not(:has(.content)):not(
      :has(.action)
    ) {
    grid-template-areas: "title topContent";
    grid-template-columns: var(--title-width) 1fr;
  }

  &:has(.title:not(:empty)):not(:has(.topContent)):has(.content):not(
      :has(.action)
    ) {
    grid-template-areas:
      "title  "
      "content";
    grid-template-columns: auto;
  }

  &:has(.title:not(:empty)):not(:has(.topContent)):not(:has(.content)):not(
      :has(.action)
    ) {
    grid-template-areas: "title";
    grid-template-columns: 1fr;
  }

  &:not(:has(.title:not(:empty))):has(.topContent):has(.content):has(.action) {
    grid-template-areas:
      "topContent action"
      "content    content";
    grid-template-columns: 1fr auto;
  }

  &:not(:has(.title:not(:empty))):not(:has(.topContent)):has(.content):has(
      .action
    ) {
    grid-template-areas: "content action";
    grid-template-columns: 1fr auto;
  }

  &:has(.title:not(:empty)):not(:has(.topContent)):has(.content):has(.action) {
    grid-template-areas:
      "title   action "
      "content content";
    grid-template-columns: 1fr auto;
  }

  &:has(.title:not(:empty)):not(:has(.topContent)):not(:has(.content)):has(
      .action
    ) {
    grid-template-areas: "title action";
    grid-template-columns: 1fr auto;
  }

  &:has(.title:not(:empty)):has(.topContent):not(:has(.content)):has(.action) {
    grid-template-areas: "title topContent action";
    grid-template-columns: var(--title-width) 1fr auto;
  }

  &:not(:has(.title:not(:empty))):has(.topContent):not(:has(.content)):has(
      .action
    ) {
    grid-template-areas: "topContent action";
    grid-template-columns: 1fr auto;
  }

  &:not(:has(.title:not(:empty))):has(.topContent):not(:has(.content)):not(
      :has(.action)
    ) {
    grid-template-areas: "topContent";
    grid-template-columns: auto;
  }

  &:not(:last-child) {
    border-bottom-color: var(--list-item--border-color);
    border-bottom-width: var(--list-item--border-width);
    border-bottom-style: var(--list-item--border-style);
  }

  &:is(a),
  &:is(button) {
    @include focus.focus;
    outline-offset: calc(var(--size-px--xs) * -1);

    &:hover {
      background-color: var(--list-item--background-color--hover);
    }

    &[data-pressed] {
      background-color: var(--list-item--background-color--pressed);
    }
  }

  .title {
    &:empty {
      display: none;
    }

    grid-area: title;
    display: grid;
    grid-column-gap: var(--list-item--content-to-content-spacing);

    grid-template-areas:
      "avatar title   "
      "avatar subtitle";
    grid-template-columns: auto 1fr;

    &:not(:has(.avatar)) {
      grid-template-areas:
        "title   "
        "subtitle";
      grid-template-columns: 1fr;
    }

    &:not(:has(.text)):not(:has(.statusBadge)) {
      grid-template-areas: "avatar title";

      &:not(:has(.avatar)) {
        grid-template-areas: "title";
      }
    }

    .avatar {
      grid-area: avatar;
      align-self: center;
    }

    .heading {
      grid-area: title;
      align-self: center;
    }

    .text {
      grid-area: subtitle;
      font-size: var(--list-item--subtitle-font-size);
    }

    .statusBadge {
      grid-area: subtitle;
    }
  }

  .topContent {
    grid-area: topContent;
  }

  .content {
    grid-area: content;
  }

  .action {
    grid-area: action;
    align-self: center;
    justify-self: end;
  }

  @container (max-width: 750px) {
    &:has(.title:not(:empty)):has(.topContent):has(.content):has(.action) {
      grid-template-areas:
        "title      action"
        "topContent topContent"
        "content    content   ";
      grid-template-columns: 1fr auto;
    }

    &:has(.title:not(:empty)):has(.topContent):has(.content):not(
        :has(.action)
      ) {
      grid-template-areas:
        "title     "
        "topContent"
        "content   ";
      grid-template-columns: auto;
    }

    &:has(.title:not(:empty)):has(.topContent):not(:has(.content)):not(
        :has(.action)
      ) {
      grid-template-areas:
        "title     "
        "topContent";
      grid-template-columns: auto;
    }

    &:has(.title:not(:empty)):not(:has(.topContent)):has(.content):not(
        :has(.action)
      ) {
      grid-template-areas:
        "title  "
        "content";
      grid-template-columns: auto;
    }

    &:has(.title:not(:empty)):not(:has(.topContent)):not(:has(.content)):not(
        :has(.action)
      ) {
      grid-template-areas: "title";
      grid-template-columns: auto;
    }

    &:not(:has(.title:not(:empty))):has(.topContent):has(.content):has(
        .action
      ) {
      grid-template-areas:
        "topContent action       "
        "content    content      ";
      grid-template-columns: 1fr auto;
    }

    &:not(:has(.title:not(:empty))):not(:has(.topContent)):has(.content):has(
        .action
      ) {
      grid-template-areas: "content action";
      grid-template-columns: 1fr auto;
    }

    &:has(.title:not(:empty)):not(:has(.topContent)):has(.content):has(
        .action
      ) {
      grid-template-areas:
        "title   action       "
        "content content      ";
      grid-template-columns: 1fr auto;
    }

    &:has(.title:not(:empty)):not(:has(.topContent)):not(:has(.content)):has(
        .action
      ) {
      grid-template-areas: "title action";
      grid-template-columns: 1fr auto;
    }

    &:has(.title:not(:empty)):has(.topContent):not(:has(.content)):has(
        .action
      ) {
      grid-template-areas:
        "title      action    "
        "topContent topContent";
      grid-template-columns: 1fr auto;
    }

    &:not(:has(.title:not(:empty))):has(.topContent):not(:has(.content)):has(
        .action
      ) {
      grid-template-areas: "topContent action";
      grid-template-columns: 1fr auto;
    }
  }
}
