.activeFilters {
  display: flex;
  flex-direction: row;
  column-gap: var(--list--badge-to-badge-spacing);
  row-gap: var(--list--badge-to-badge-spacing);
  flex-wrap: wrap;
}

.clearButton {
  margin-inline-start: auto;
}
