@import "@/styles";

.note {
  border-radius: var(--note--border-radius);
  border-width: var(--note--border-width);
  border-style: var(--note--border-style);
  border-inline-start-width: var(--note--border-inline-start-width);
  padding: var(--note--padding);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: var(--note--icon-to-text-spacing);
  grid-row-gap: var(--note--text-to-text-spacing);

  @extend .info;

  /* With custom icon */
  &:has(.customIcon) .statusIcon {
    display: none;
  }

  /* Without content */
  &:not(:has(.content)) {
    grid-template-areas: "icon heading";
  }

  /* With content */
  &:has(.content) {
    grid-template-areas:
      "icon heading"
      ".    content";
  }
}

/* Elements */
.customIcon,
.statusIcon {
  grid-area: icon;
  font-size: var(--note--icon-size);
  line-height: calc(var(--note--heading-font-size) * 1.5);
}

.heading {
  grid-area: heading;
  font-size: var(--note--heading-font-size);
}

.content {
  grid-area: content;
}

/* Variants */
@mixin variant($v) {
  .#{$v} {
    border-color: var(--note--#{$v}-border-color);
    .heading,
    .customIcon,
    .statusIcon {
      color: var(--note--#{$v}-heading-color);
    }
  }
}

@include variant(info);
@include variant(warning);
@include variant(negative);
