.step {
  background-color: var(--step-indicator--background-color--default);
  padding-block: var(--step-indicator--padding-y);
  padding-inline: var(--step-indicator--padding-x);
  position: relative;
  color: var(--step-indicator--content-color--default);
  display: flex;
}

.current {
  font-weight: var(--step-indicator--font-weight-current);
}

// ToDo: Compact Mode oder Property für compacte Variante -> @container in stepsIndicator css

@media (min-width: 551px) {
  .step {
    &:first-child {
      border-start-start-radius: var(--step-indicator--corner-radius);
      border-end-start-radius: var(--step-indicator--corner-radius);
    }

    &:last-child {
      border-start-end-radius: var(--step-indicator--corner-radius);
      border-end-end-radius: var(--step-indicator--corner-radius);
    }

    &:not(:first-child) {
      padding-left: 20px;
    }

    &:not(:last-child) {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
      }

      &:before {
        border: 22px solid transparent;
        border-inline-width: 15px;
        border-inline-start-color: var(--neutral--color--100);
        right: -27px;
        top: -6px;
      }

      &:after {
        border: 18px solid transparent;
        border-inline-width: 12px;
        border-inline-start-color: var(
          --step-indicator--background-color--default
        );
        right: -20px;
        top: -2px;
      }
    }
  }

  .count {
    display: none;
  }
}

@media (max-width: 550px) {
  .count {
    display: block;
    font-weight: normal;
  }
  .step {
    width: 100%;
    justify-content: space-between;
    border-radius: var(--step-indicator--corner-radius);
    &:not(.current) {
      display: none;
    }
  }
}

.current,
.done {
  background-color: var(--step-indicator--background-color--current);
  color: var(--step-indicator--content-color--current);
  &:not(:last-child):after {
    border-inline-start-color: var(--step-indicator--background-color--current);
  }
}
