@use "@/styles/mixins/focus";

.tabTitle {
  position: relative;
  padding-block: var(--tabs--padding-y);
  padding-inline: var(--tabs--padding-x);
  color: var(--tabs--color--default);
  cursor: default;
  white-space: nowrap;
  transition-property: background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  column-gap: var(--tabs--spacing);
  border-radius: var(--tabs--corner-radius);

  @include focus.focus;

  & {
    outline-offset: calc(var(--size-px--xs) * -1);
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0;
    height: var(--tabs--separator-height);
    border-inline-end: var(--tabs--border-width) var(--tabs--border-style)
      var(--tabs--border-color);
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
  }

  &:hover {
    background-color: var(--tabs--background-color--hover);
    transition-duration: var(--transition--duration--default);
  }

  &[data-pressed] {
    background-color: var(--tabs--background-color--pressed);
    transition-duration: var(--transition--duration--default);
  }

  &[aria-disabled="true"] {
    color: var(--tabs--color--disabled);
  }

  .text {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: var(--tabs--spacing);
    z-index: 2;
  }
}

/* selected tab */
.tabTitle[data-selected] {
  font-weight: var(--tabs--font-weight--selected);
}

.menuItem {
  > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--tabs--spacing);
    flex-grow: 1;
  }
}
