.separator {
  border: 0;

  &:where(:not(.vertical)) {
    border-top: var(--separator--height) var(--separator--border-style)
      var(--separator--color);
    width: 100%;
  }

  &.vertical {
    border-inline-end: var(--separator--height) var(--separator--border-style)
      var(--separator--color);
    height: auto;
  }
}
