.avatarStack {
  display: flex;
  flex-direction: row;

  .avatar {
    &:not(:last-child) {
      --mask-size: calc(var(--avatar-size) * 1.25);
      --mask-cutout: calc(
        var(--avatar-size) / 2 + var(--avatar-stack--border-width)
      );
      --mask-offset: calc(var(--avatar-size) * -0.25);

      mask: radial-gradient(
        circle at var(--mask-size) center,
        transparent var(--mask-cutout),
        white 0
      );
      margin-right: var(--mask-offset);
    }

    outline-offset: calc(var(--size-px--xxs) * -1);
  }

  /* Sizes */

  @mixin size($size) {
    &.size-#{$size} {
      --avatar-size: var(--avatar--size--#{$size});
    }
  }

  @include size(m);
  @include size(xs);
  @include size(s);
  @include size(l);
}
