.notificationContainer {
  position: fixed;
  top: var(--notification-provider--window-to-provider-spacing);
  right: var(--notification-provider--window-to-provider-spacing);
  display: flex;
  flex-direction: column;
  z-index: 1;

  .notification {
    padding-bottom: var(
      --notification-provider--notification-to-notification-spacing
    );
  }
}
