@import "@/styles";

.root {
  display: flex;
  font-weight: bold;
  background-color: var(--background-color);
}

.char-1 {
  color: var(--char-1-color);
}

.char-2 {
  color: var(--char-2-color);
}

.variant-1 {
  --background-color: var(--initials--variant-1-background-color);
  --char-1-color: var(--initials--variant-1-first-initial-color);
  --char-2-color: var(--initials--variant-1-second-initial-color);
}

.variant-2 {
  --background-color: var(--initials--variant-1-background-color);
  --char-1-color: var(--initials--variant-2-first-initial-color);
  --char-2-color: var(--initials--variant-2-second-initial-color);
}

.variant-3 {
  --background-color: var(--initials--variant-1-background-color);
  --char-1-color: var(--initials--variant-3-first-initial-color);
  --char-2-color: var(--initials--variant-3-second-initial-color);
}

.variant-4 {
  --background-color: var(--initials--variant-1-background-color);
  --char-1-color: var(--initials--variant-4-first-initial-color);
  --char-2-color: var(--initials--variant-4-second-initial-color);
}
