.overlay {
  background: var(--overlay--background-color);
  position: absolute;
  top: 1px;
  left: 1px;
  isolation: isolate;
  width: 100vw;
  height: var(--page-height);
  pointer-events: none;

  &[data-entering] {
    animation: overlay-fade var(--transition--duration--slow);
  }

  &[data-exiting] {
    animation: overlay-fade var(--transition--duration--default) reverse ease-in;
  }

  .suspense {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .container {
    pointer-events: all;
  }
}

//@media (max-width: 550px) {
//  .overlay {
//    //overflow: hidden;
//  }
//}

@keyframes overlay-fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
