.overlay {
  background: var(--overlay--backdrop-color);
  backdrop-filter: blur(var(--blur));
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-entering] {
    animation: overlay-fade var(--transition--duration--slow);
  }

  &[data-exiting] {
    animation: overlay-fade var(--transition--duration--default) reverse ease-in;
  }
}

@keyframes overlay-fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
