.overlay {
  background: var(--overlay--background-color);
  position: absolute;
  top: 0;
  left: 0;
  isolation: isolate;
  width: 100vw;
  height: var(--page-height);

  &[data-entering] {
    animation: overlay-fade var(--transition--duration--slow);
  }

  &[data-exiting] {
    animation: overlay-fade var(--transition--duration--default) reverse ease-in;
  }

  .suspense {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

@keyframes overlay-fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
