@use "@/styles/mixins/focus";

.switch {
  display: flex;
  align-items: center;
  font-size: var(--switch--font-size);
  font-weight: var(--switch--font-weight);
  column-gap: var(--switch--label-to-indicator-spacing);

  &.label-leading {
    flex-direction: row-reverse;
  }

  @extend .success;

  /* States */
  &[data-focus-visible] .indicator {
    outline-style: solid;
  }

  &[data-pressed] .indicator {
    background-color: var(--switch--indicator-color--pressed);
  }

  &[data-disabled] {
    color: var(--switch--color--disabled);
    .indicator {
      background-color: var(--switch--indicator-color--disabled);
    }
  }

  &[data-selected] .indicator:before {
    transform: translate(100%);
  }
}

/* Elements */
.indicator {
  width: var(--switch--indicator-width);
  height: var(--switch--indicator-height);
  background-color: var(--switch--indicator-color--default);
  border-radius: var(--switch--indicator-corner-radius);
  padding: var(--switch--indicator-to-marker-spacing);
  flex-shrink: 0;
  position: relative;
  transition-property: background-color;
  transition-duration: var(--transition--duration--default);

  @include focus.focus;

  &:before {
    content: "";
    display: block;
    width: var(--switch--indicator-marker-size);
    height: var(--switch--indicator-marker-size);
    background-color: var(--switch--indicator-marker-color);
    border-radius: var(--corner-radius--round);
    transition-property: transform;
    transition-duration: var(--transition--duration--default);
    transform: translateX(0);
    position: absolute;
    top: var(--switch--indicator-to-marker-spacing);
    left: var(--switch--indicator-to-marker-spacing);
  }
}

/* Variants */
@mixin variant($variant) {
  .#{$variant}[data-selected] {
    .indicator {
      background-color: var(--switch--#{$variant}-indicator-color--selected);
    }

    &[data-pressed] .indicator {
      background-color: var(
        --switch--#{$variant}-indicator-color--selected-pressed
      );
    }

    &[data-disabled] .indicator {
      background-color: var(
        --switch--#{$variant}-indicator-color--selected-disabled
      );
    }
  }
}

@include variant(success);
@include variant(danger);
