@use "../../styles/mixins/focus.scss";

.switch {
  display: flex;
  align-items: center;
  column-gap: var(--switch--label-to-track-spacing);

  &.label-leading {
    flex-direction: row-reverse;
  }

  /* Elements */
  .track {
    width: var(--switch--track-width);
    height: var(--switch--track-height);
    background-color: var(--switch--track-background-color--default);
    border-radius: var(--switch--track-corner-radius);
    padding: var(--switch--track-padding);
    flex-shrink: 0;
    position: relative;
    transition-property: background-color;
    transition-duration: var(--transition--duration--default);
    align-self: start;

    @include focus.focus;
  }

  .handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--switch--handle-size);
    height: var(--switch--handle-size);
    background-color: var(--switch--handle-background-color--default);
    border-radius: var(--corner-radius--round);
    transition-property: transform;
    transition-duration: var(--transition--duration--default);
    transform: translateX(0);
    position: absolute;
    top: var(--switch--track-padding);
    left: var(--switch--track-padding);
  }

  /* States */

  &[data-focus-visible] .track {
    outline-style: solid;
  }

  &[data-selected] {
    .track {
      background-color: var(--switch--track-background-color--selected);
    }

    .handle {
      transform: translate(100%);
    }
  }

  &[data-disabled] {
    .track {
      background-color: var(--switch--track-background-color--disabled);
      color: var(--switch--track-background-color--disabled);
    }

    .label {
      color: var(--label--color--disabled);
    }

    .handle {
      color: var(--switch--handle-color--disabled);
      background-color: var(--switch--handle-background-color--disabled);
    }
  }
}
