.switch {
  display: flex;
  align-items: center;
  column-gap: var(--switch--label-to-track-spacing);

  &.label-leading {
    flex-direction: row-reverse;
  }

  /* States */
  &[data-selected] {
    .track {
      background-color: var(--switch--track-color--selected);
    }

    .handle {
      transform: translate(100%);
    }
  }

  &[data-focus-visible] .track {
    outline-color: var(--switch--focus-outline-color);
    outline-width: var(--switch--focus-outline-width);
    outline-offset: var(--switch--focus-outline-offset);
    outline-style: solid;
  }

  &[data-disabled] {
    color: var(--label--color--disabled);
    .track {
      background-color: var(--switch--track-color--disabled);
      color: var(--switch--track-color--disabled);
    }
    .label {
      color: var(--label--color--disabled);
    }
  }
}

/* Elements */
.track {
  width: var(--switch--track-width);
  height: var(--switch--track-height);
  background-color: var(--switch--track-color--default);
  border-radius: var(--switch--track-corner-radius);
  padding: var(--switch--track-padding);
  flex-shrink: 0;
  position: relative;
  transition-property: background-color;
  transition-duration: var(--transition--duration--default);
}

.handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--switch--handle-size);
  height: var(--switch--handle-size);
  background-color: var(--switch--handle-color);
  border-radius: var(--corner-radius--round);
  transition-property: transform;
  transition-duration: var(--transition--duration--default);
  transform: translateX(0);
  position: absolute;
  top: var(--switch--track-padding);
  left: var(--switch--track-padding);
}
