.checkboxGroup {
  order: 2;
  display: flex;
  flex-direction: column;
  row-gap: var(--form-control--spacing-y);

  .checkboxButton {
    width: auto;
    &[data-invalid]:not([data-selected]) {
      border-color: var(--form-control--border-color--default);
      background-color: var(--form-control--background-color--default);
    }
  }

  .checkbox,
  .checkboxButton {
    &[data-invalid]:not([data-selected]) {
      svg {
        color: var(--form-control--border-color--default);
      }
    }
  }

  &:empty {
    display: none;
  }
}
