.formField {
  display: flex;
  flex-direction: column;
  min-width: 0;

  /* Elements */
  .label {
    order: 1;
    grid-area: label;
    margin-bottom: var(--form-control--label-to-control-spacing);
  }

  .fieldError,
  .customFieldError,
  .fieldDescription {
    order: 3;
    grid-area: fieldDescription;
    margin-top: var(--form-control--control-to-info-spacing);
  }

  /* With field error */

  &:has(.fieldError),
  &:has(.customFieldError) {
    .fieldDescription {
      display: none;
    }
  }

  /* With custom field error */

  &:has(.customFieldError) .fieldError {
    display: none;
  }

  /* Disabled */

  &[data-disabled] .label {
    color: var(--label--color--disabled);
  }
}
