@import "@/styles";

.formField {
  display: flex;
  flex-direction: column;
}

/* Elements */
.label {
  order: 1;
  margin-bottom: var(--form-control--label-to-control-spacing);
}

.fieldError,
.customFieldError,
.fieldDescription {
  order: 3;
  margin-top: var(--form-control--control-to-info-spacing);
}

/* With field error */
.formField:has(.fieldError) {
  .fieldDescription {
    display: none;
  }
}

/* With custom field error */
.formField:has(.customFieldError) .fieldError {
  display: none;
}
