.cartesianChart {
  font-family: "Inter", sans-serif;

  *:focus:not(:focus-visible) {
    outline: none !important;
  }

  :global(.flow--illustrated-message--illustrated-message-container) {
    container-type: normal;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .emptyViewContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  svg {
    overflow: visible;
  }
}
