.counterLabel {
  padding: var(--counter-label--padding);
  font-size: var(--counter-label--font-size);
  font-weight: var(--counter-label--font-weight);
  line-height: 1;
  color: var(--counter-label--color);
  background-color: var(--counter-label--background-color);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  --counter-label-height: calc(
    var(--counter-label--font-size) + var(--counter-label--padding) * 2 +
      var(--counter-label--border-width) * 2
  );
  border-radius: calc(var(--counter-label-height) / 2);
  border-width: var(--counter-label--border-width);
  border-style: var(--counter-label--border-style);
  border-color: var(--counter-label--border-color);

  &:not(:empty) {
    min-width: var(--counter-label-height);
  }

  &:empty {
    --counter-label-height: calc(
      var(--counter-label--height-empty) + var(--counter-label--border-width) *
        2
    );
    padding: 0;
    height: var(--counter-label-height);
    width: var(--counter-label-height);
  }
}
