@use "../../../../styles/mixins/formControl";

.radioButton {
  display: grid;
  row-gap: var(--radio-button--text-to-text-spacing);
  column-gap: var(--radio-button--icon-to-text-spacing);
  grid-template-areas: "icon label";
  grid-template-columns: auto 1fr;

  @include formControl.formControl();

  &.radioButton {
    width: auto;
  }

  /* With content */
  &:has(.content) {
    grid-template-areas:
      "icon label"
      ".    content";
    grid-template-rows: auto 1fr;

    .label {
      font-weight: var(--radio-button--label-font-weight-with-content);
    }
  }
}

/* Elements */
.label {
  grid-area: label;
}

.content {
  grid-area: content;
}
