@use "@/styles/mixins/formControl";

.label {
  grid-area: label;
}

.content {
  grid-area: content;
}

.radioButton {
  align-self: normal;
  display: grid;
  gap: var(--form-control--spacing-y) var(--form-control--spacing-x);
  grid-template-areas: "icon label";
  grid-template-columns: auto 1fr;

  @include formControl.formControl();

  &.radioButton {
    width: auto;
  }

  /* With content */
  &:has(.content) {
    grid-template-areas:
      "icon label"
      ".    content";
    grid-template-rows: auto 1fr;

    .label {
      font-weight: var(--font-weight--bold);
    }
  }
}
