.list {
  display: grid;
  grid-template-areas:
    "filter         "
    "items          "
    "paginationInfos"
    "showMoreButton ";
}


.filter {
  grid-area: filter;
  margin-block-end: var(--list--filter-to-list-spacing);
}

.items {
  grid-area: items;
  margin-block: var(--size-rem--xl);
}

.paginationInfos {
  margin-top: var(--size-rem--l);
  grid-area: paginationInfos;
  margin-inline: auto;
}

.showMoreButton {
  margin-top: var(--size-rem--s);
  grid-area: showMoreButton;
  margin-inline: auto;
}
