.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--list--block-to-block-spacing);
  container-type: inline-size;

  :has(:global(.flow--list--list-summary--top)) {
    :global(.flow--list--items),
    :global(.flow--list--table) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  :has(:global(.flow--list--list-summary--bottom)) {
    :global(.flow--list--items),
    :global(.flow--list--table) {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
  }

  .listWrapper {
    display: flex;
    flex-direction: column;

    .hideVisuallyEmptyView {
      display: none;
    }
  }
}
