.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--list--block-to-block-spacing);
  container-type: inline-size;

  :has(:global(.flow--list--list-summary--top)) {
    :global(.flow--list--items),
    :global(.flow--list--table) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  :has(:global(.flow--list--list-summary--bottom)) {
    :global(.flow--list--items),
    :global(.flow--list--table) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .listWrapper {
    display: flex;
    flex-direction: column;
  }
}
