.list {
  display: flex;
  flex-direction: column;
}

:global(.flow--list--filters--filter-bar):not(:empty) {
  margin-bottom: var(--list--block-to-block-spacing);
}

.pagination {
  font-size: var(--font-size--s);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--list--content-to-content-spacing);
  margin-top: var(--list--block-to-block-spacing);
}
