.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgba(120, 120, 120, 0.2);
  border-radius: var(--corner-radius--default);
  width: 100%;

  &::before {
    content: "-";
    visibility: hidden;
  }

  &::after {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.4) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 3s infinite;
    content: "";
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
