@use "@/styles/mixins/focus";
@use "@/styles/mixins/ellipsis";

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;

  .link {
    @include focus.focus;
    @include ellipsis.ellipsis;

    padding-inline: var(--breadcrumb-item--padding-x);
    font-weight: var(--breadcrumb-item--font-weight--default);

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumbItem {
    color: var(--breadcrumb-item--color);
    font-size: var(--breadcrumb-item--font-size);
    display: flex;
    align-items: center;
    min-width: 0;

    &:last-child {
      .icon {
        display: none;
      }
      .link {
        text-decoration: none;
        font-weight: var(--breadcrumb-item--font-weight--current);
      }
    }
  }

  &.inverse {
    .breadcrumbItem {
      color: var(--breadcrumb-item--color-inverse);
    }
  }
}
