@use "../../styles/mixins/focus.scss";
@use "../../styles/mixins/ellipsis.scss";

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;

  .link {
    padding-inline: var(--breadcrumb--spacing);
    font-weight: var(--breadcrumb--font-weight--default);
    text-decoration: underline;

    @include focus.focus;

    & {
      @include ellipsis.ellipsis;
    }
  }

  .breadcrumbItem {
    display: flex;
    align-items: center;
    min-width: 0;

    &:last-child {
      .icon {
        display: none;
      }

      .link {
        text-decoration: none;
        font-weight: var(--breadcrumb--font-weight--current);
      }
    }

    &:first-child .link {
      padding-inline-start: 0;
    }

    &[data-disabled="true"] {
      .link {
        cursor: unset;
      }
    }
  }

  /* Colors */

  @mixin variant($color) {
    &:where(.#{$color}) {
      .breadcrumbItem {
        color: var(--breadcrumb--color-#{$color}--default);

        &:not([data-disabled="true"]) {
          .link {
            &:hover {
              color: var(--breadcrumb--color-#{$color}--hover);
            }

            &[data-pressed] {
              color: var(--breadcrumb--color-#{$color}--pressed);
            }
          }
        }
      }
    }
  }

  @include variant(primary);
  @include variant(dark);
  @include variant(light);
}
