@use "@/styles/mixins/focus";
@use "@/styles/mixins/ellipsis";

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;

  .link {
    padding-inline: var(--breadcrumb--spacing);
    font-weight: var(--breadcrumb--font-weight--default);
    text-decoration: underline;

    @include focus.focus;

    & {
      @include ellipsis.ellipsis;
    }
  }

  .breadcrumbItem {
    display: flex;
    align-items: center;
    min-width: 0;
    color: var(--breadcrumb--color--default);

    &:last-child {
      .icon {
        display: none;
      }

      .link {
        text-decoration: none;
        font-weight: var(--breadcrumb--font-weight--current);
      }
    }

    &:first-child .link {
      padding-inline-start: 0;
    }

    &[data-disabled="true"] {
      .link {
        cursor: unset;
      }
    }

    &:not([data-disabled="true"]) {
      .link {
        &:hover {
          color: var(--breadcrumb--color--hover);
        }

        &[data-pressed] {
          color: var(--breadcrumb--color--pressed);
        }
      }
    }
  }

  /* Size s */

  &.size-s {
    .link {
      line-height: var(--link--line-height-s);
      font-size: var(--font-size-text--s);
    }
  }

  /* Colors */

  @mixin variant($color) {
    &:where(.#{$color}) {
      .breadcrumbItem {
        color: var(--breadcrumb--color-#{$color}--default);

        &:not([data-disabled="true"]) {
          .link {
            &:hover {
              color: var(--breadcrumb--color-#{$color}--hover);
            }

            &[data-pressed] {
              color: var(--breadcrumb--color-#{$color}--pressed);
            }
          }
        }
      }
    }
  }

  @include variant(dark);
  @include variant(light);
}
