.sortingPicker {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-rem--s);
}

.items {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-rem--s);
  row-gap: var(--size-rem--s);
  flex-wrap: wrap;
  max-width: 100%;
}
