.gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  --button-width: calc(
    var(--icon--size--m) + 2 * var(--button--padding-icon-only)
  );
  --button-width-plus-spacing: calc(
    var(--button-width) + var(--light-box--spacing)
  );

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: var(--button-width-plus-spacing);
    height: var(--light-box--max-height);
  }

  .galleryItem {
    position: relative;
    margin: 0 auto;
    user-select: none;

    --indicator-height: calc(var(--light-box--spacing) + var(--icon--size--m));

    max-height: calc(var(--light-box--max-height) - var(--indicator-height));
  }

  .actions {
    position: absolute;
    top: 0;
    right: calc(var(--button-width-plus-spacing) * -1);
    display: flex;
    flex-direction: column;
    row-gap: var(--light-box--spacing);
  }

  .actionGroup {
    flex-grow: 0;
    flex-direction: column;
    row-gap: var(--light-box--spacing);
  }

  .image {
    animation: fade-in var(--transition--duration--default) ease-in forwards;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .indicators {
    display: flex;
    justify-content: center;
    padding-top: var(--light-box--spacing);
    column-gap: var(--light-box--indicator-spacing);
    color: var(--light-box--content-color);
  }

  .indicator {
    display: block;
    width: var(--light-box--indicator-size);
    height: var(--light-box--indicator-size);
    border: var(--light-box--indicator-border-width)
      var(--light-box--indicator-border-style) var(--light-box--content-color);
    border-radius: var(--light-box--indicator-corner-radius);

    &.current {
      background-color: var(--light-box--content-color);
    }
  }
}
