@use "../../styles/mixins/formControl";

.checkboxButton {
  align-self: normal;
  width: fit-content;

  .input {
    @include formControl.formControl();

    display: grid;
    gap: var(--form-control--spacing-y) var(--form-control--spacing-x);
    grid-template-areas: "icon label";
    grid-template-columns: auto 1fr;
    align-self: start;

    & {
      order: unset;
    }

    /* With content */
    &:focus-within:not([data-selected], [data-focus-visible]) {
      border-color: var(--form-control--border-color--default);
    }

    &[data-invalid]:not([data-selected]) {
      border-color: var(--form-control--border-color--invalid);
      background-color: var(--form-control--background-color--invalid);
    }

    &:has(.content) {
      grid-template-areas:
        "icon label"
        ".    content";
      grid-template-rows: auto 1fr;

      .label {
        font-weight: var(--font-weight--bold);
      }
    }
  }

  /* Elements */
  .label {
    grid-area: label;
  }

  .content {
    grid-area: content;
  }
}
