@use "@/styles/mixins/formControl";

.checkboxButton {
  @include formControl.formHiddenInputScrollBehaviorFix;

  align-self: normal;
  width: fit-content;

  .input {
    @include formControl.formControl();

    & {
      order: unset;
      height: 100%;
    }

    /* With content */
    &:focus-within:not([data-selected], [data-focus-visible]) {
      border-color: var(--form-control--border-color--default);
    }

    &[data-invalid]:not([data-selected]) {
      border-color: var(--form-control--border-color--invalid);
      background-color: var(--form-control--background-color--invalid);
    }

    &:has(.content) {
      display: grid;
      grid-template:
        "icon label" auto
        ".    content" 1fr
        / auto 1fr;

      .label {
        font-weight: var(--font-weight--bold);
      }
    }
  }

  /* Elements */
  .checkbox {
    flex-grow: 1;
  }

  .label {
    grid-area: label;
  }

  .content {
    grid-area: content;
  }
}
