@import "../../styles/index.css";

.root {
  grid-area: input;
  border: var(--text-field--border-width) var(--text-field--border-style)
    var(--text-field--border-color--default);
  border-radius: var(--text-field--border-radius);
  background-color: var(--text-field--background-color--default);
  display: grid;

  &:has([data-invalid]) {
    background-color: var(--text-field--background-color--invalid);
    border-color: var(--text-field--border-color--invalid);
  }

  &[data-focus-within] {
    background-color: var(--text-field--background-color--focused);
    outline: none;
    border-color: var(--text-field--border-color--focused);
  }

  &[data-disabled] {
    background-color: var(--text-field--background-color--disabled);
    border-color: var(--text-field--border-color--disabled);
    color: var(--text-field--color--disabled);
  }
}
