.statusBadge {
  font-size: var(--status-badge--font-size);
  font-weight: var(--status-badge--font-weight);
  background-color: var(--status-badge--info-background-color);
  border-radius: var(--status-badge--corner-radius);
  padding-block: var(--status-badge--padding-y);
  padding-inline: var(--status-badge--padding-x);
  height: var(--badge--height);
  line-height: var(--size-rem--m);
  display: inline-grid;
  grid-template-areas: "icon content";
  grid-template-columns: auto 1fr;
  column-gap: var(--status-badge--icon-to-text-spacing);
  max-width: fit-content;

  @extend .info;

  /* With icon only */
  &:not(:has(.content)) {
    padding-inline: var(--status-badge--padding-x-icon-only);
    grid-template-areas: "icon";
    grid-template-columns: auto;
  }

  /* With custom icon */
  &:has(.customIcon) {
    .statusIcon {
      display: none;
    }
  }
}

/* Elements */
.statusIcon,
.customIcon {
  grid-area: icon;
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: content;
}

/* Variants */
@mixin variant($variant) {
  .#{$variant} {
    background-color: var(--status-badge--#{$variant}-background-color);
    color: var(--status-badge--#{$variant}-content-color);
  }
}

@include variant(info);
@include variant(success);
@include variant(warning);
@include variant(danger);
