.statusBadge {
  font-size: var(--status-badge--font-size);
  font-weight: var(--status-badge--font-weight);
  background-color: var(--status-badge--info-background-color);
  border-radius: var(--status-badge--corner-radius);
  padding-block: var(--status-badge--padding-y);
  padding-inline: var(--status-badge--padding-x);
  height: var(--badge--height);
  line-height: var(--size-rem--m);
  display: inline-grid;
  grid-template-areas: "icon content";
  grid-template-columns: auto 1fr;
  column-gap: var(--status-badge--icon-to-text-spacing);

  @extend .info;
}

/* Elements */
.statusIcon {
  grid-area: icon;
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: content;
}

/* Status */
@mixin status($status) {
  .#{$status} {
    background-color: var(--status-badge--#{$status}-background-color);
    color: var(--status-badge--#{$status}-content-color);
  }
}

@include status(info);
@include status(success);
@include status(warning);
@include status(danger);
