.shortcutKey {
  font-size: var(--font-size-text--s);
  line-height: var(--font-size-text--m);
  color: var(--shortcut-key--content-color--default);
  background-color: var(--shortcut-key--background-color--default);
  padding: var(--shortcut-key--padding);
  padding-top: var(--shortcut-key--padding-y-start);
  border-radius: var(--shortcut-key--corner-radius);
  border-left: var(--shortcut-key--inner-shadow-size-x) solid
    var(--shortcut-key--inner-shadow-color--default);
  border-right: var(--shortcut-key--inner-shadow-size-x) solid
    var(--shortcut-key--inner-shadow-color--default);
  box-shadow: inset 0 calc(var(--shortcut-key--inner-shadow-size-y-end) * -1) 0
    var(--shortcut-key--inner-shadow-color--default);
  width: fit-content;
  height: fit-content;

  &.disabled {
    color: var(--shortcut-key--content-color--disabled);
    background-color: var(--shortcut-key--background-color--disabled);
    border-left-color: var(--shortcut-key--inner-shadow-color--disabled);
    border-right-color: var(--shortcut-key--inner-shadow-color--disabled);
    box-shadow: inset 0 calc(var(--shortcut-key--inner-shadow-size-y-end) * -1)
      0 var(--shortcut-key--inner-shadow-color--disabled);
  }
}
