@use "@/styles/mixins/ellipsis";

.badge {
  font-size: var(--badge--font-size);
  font-weight: var(--badge--font-weight);
  border-radius: var(--badge--corner-radius);
  padding-inline: var(--badge--padding-x);
  padding-block: var(--badge--padding-y);
  display: flex;
  align-items: center;
  column-gap: var(--badge--content-to-content-spacing);
  max-width: fit-content;
  color: var(--badge--content-color);
  background-color: var(--badge--background-color);
}

.text {
  @include ellipsis.ellipsis();
}

.button {
  margin-inline-end: calc(var(--badge--padding-x) * -1);
  margin-block: calc(var(--badge--padding-y) * -1);
}
