@import "@/styles";

.badge {
  color: var(--badge--color);
  font-size: var(--badge--font-size);
  background-color: var(--badge--info-background-color);
  border-radius: var(--badge--border-radius);
  padding-block: var(--badge--padding-y);
  padding-inline: var(--badge--padding-x);
  height: var(--badge--height);
  line-height: var(--size-rem--m);
  display: grid;
  grid-template-areas: "icon content";
  grid-template-columns: auto 1fr;
  column-gap: var(--badge--icon-to-text-spacing);
  max-width: fit-content;

  @extend .info;

  /* With icon only */
  &:not(:has(.content)) {
    padding-inline: var(--badge--padding-x-icon-only);
    grid-template-areas: "icon";
    grid-template-columns: auto;
  }

  /* With custom icon */
  &:has(.customIcon) {
    .statusIcon {
      display: none;
    }
  }
}

/* Elements */
.statusIcon,
.customIcon {
  font-size: var(--badge--icon-size);
  grid-area: icon;
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: content;
}

/* Variants */
@mixin variant($v) {
  .#{$v} {
    background-color: var(--badge--#{$v}-background-color);
  }
}

@include variant(info);
@include variant(success);
@include variant(warning);
@include variant(negative);
