@import "@/styles";

.root {
  color: var(--badge--color);
  font-size: var(--badge--font-size);
  background-color: var(--badge--info-background-color);
  border-radius: var(--badge--border-radius);
  padding-block: var(--badge--padding-y);
  padding-inline: var(--badge--padding-x);
  height: var(--badge--height);
  line-height: var(--size-rem--m);
  display: grid;
  grid-template-areas: "icon label";
  grid-template-columns: auto 1fr;
  column-gap: var(--badge--icon-to-text-spacing);
  max-width: fit-content;

  /* With icon only */

  &:not(:has(.label)) {
    padding-inline: var(--badge--padding-x-icon-only);
    grid-template-areas: "icon";
    grid-template-columns: auto;
  }

  /* With custom icon */

  &:has(.customIcon) {
    .statusIcon {
      display: none;
    }
  }
}

/* Variants */

.success {
  background-color: var(--badge--success-background-color);
}

.warning {
  background-color: var(--badge--warning-background-color);
}

.negative {
  background-color: var(--badge--negative-background-color);
}

/* Elements */

.statusIcon,
.customIcon {
  font-size: var(--badge--icon-size);
  grid-area: icon;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: label;
}
