@import "@/styles";

.root {
  display: grid;
  grid-template-areas:
    "label"
    "value";
  row-gap: var(--labeled-value--label-to-value-spacing);
  column-gap: var(--labeled-value--value-to-copy-button-spacing);
  width: fit-content;

  &:has(> :global(.flow-button)) {
    grid-template-areas:
      "label label"
      "value button";
  }

  :global(.flow-label) {
    grid-area: label;
  }

  :global(.flow-text) {
    grid-area: value;
  }

  & > :global(.flow-button) {
    grid-area: button;
    margin-top: calc(var(--labeled-value--label-to-value-spacing) * -1);
    align-self: start;
  }
}
