@import "@/styles";

.root {
  display: grid;
  grid-template-areas:
    "label"
    "value";
  row-gap: var(--labeled-value--label-to-value-spacing);
  column-gap: var(--labeled-value--value-to-copy-button-spacing);
  width: fit-content;

  &:has(.copyButton) {
    grid-template-areas:
      "label label"
      "value copyButton";
  }
}

.label {
  grid-area: label;
}

.value {
  grid-area: value;
}

.copyButton {
  grid-area: copyButton;
  margin-top: calc(var(--labeled-value--label-to-value-spacing) * -1);
  align-self: start;
}
