@import "@/styles";

.labeledValue {
  display: grid;
  grid-template-areas:
    "label"
    "value";
  row-gap: var(--labeled-value--label-to-value-spacing);
  column-gap: var(--labeled-value--value-to-copy-button-spacing);
  width: fit-content;

  &:has(.copy) {
    grid-template-areas:
      "label label"
      "value button";
  }
}

.label {
  grid-area: label;
}

.content {
  grid-area: value;
}

.copy {
  grid-area: button;
  margin-top: calc(var(--labeled-value--label-to-value-spacing) * -1);
  align-self: start;
}
