@import "@/styles";

.labeledValue {
  display: grid;
  grid-template-areas:
    "label"
    "value";
  row-gap: var(--labeled-value--label-to-value-spacing);
  column-gap: var(--labeled-value--value-to-button-spacing);
  grid-template-columns: auto 1fr;

  &:has(.button) {
    grid-template-areas:
      "label label"
      "value button";
  }
}

.label {
  grid-area: label;
}

.content {
  grid-area: value;
}

.button {
  grid-area: button;
  margin-top: calc(var(--size-px--xs) * -1);
  justify-self: start;
}
