.labeledValue {
  display: flex;
  flex-direction: column;
  row-gap: var(--labeled-value--label-to-value-spacing);
  grid-template-rows: auto 1fr;

  dd {
    display: flex;
    align-items: start;
    column-gap: var(--labeled-value--value-to-action-spacing);
  }

  .label {
    width: fit-content;
  }
}
