.illustratedMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--illustrated-message--padding);
  row-gap: var(--illustrated-message--spacing);

  /* Elements */

  :where(.icon) {
    color: var(--illustrated-message--content-color);
    margin-bottom: var(--illustrated-message--icon-to-heading-spacing);
  }

  .text,
  .heading {
    max-width: var(--text--max-width);
    text-align: center;
  }

  .actionGroup {
    justify-content: center;

    button {
      margin: 0;
    }
  }

  .progressBar {
    max-width: 400px;
  }

  /* Color */

  @mixin status($color) {
    &.#{$color} {
      :where(.icon) {
        color: var(--illustrated-message--#{$color}-content-color);
      }
    }
  }

  @include status(danger);
  @include status(unavailable);
  @include status(dark);
  @include status(light);
}
