.illustratedMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--illustrated-message--padding);
}

/* Elements */

.icon {
  color: var(--illustrated-message--info-icon-color);
  margin-bottom: var(--illustrated-message--icon-to-heading-spacing);
  order: 1;
}

.heading {
  margin-bottom: var(--illustrated-message--heading-to-text-spacing);
  text-align: center;
  max-width: var(--illustrated-message--max-width);
  order: 2;
}

.text {
  margin-bottom: var(--illustrated-message--text-to-button-spacing);
  text-align: center;
  max-width: var(--illustrated-message--max-width);
  order: 3;
}

.button {
  order: 4;
}

/* Danger */

.danger {
  .icon {
    color: var(--illustrated-message--negative-icon-color);
  }

  .heading {
    color: var(--illustrated-message--negative-heading-color);
  }
}

@media (max-width: 550px) {
  .illustratedMessage {
    padding: var(--illustrated-message--padding--mobile);
  }
}
