.illustratedMessageContainer {
  container-type: inline-size;
}

.illustratedMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--illustrated-message--padding);

  @container (max-width: 550px) {
    padding: var(--illustrated-message--padding--mobile);
  }

  /* Elements */

  .icon {
    color: var(--illustrated-message--info-icon-color);
    margin-bottom: var(--illustrated-message--icon-to-heading-spacing);
  }

  .heading {
    margin-bottom: var(--illustrated-message--heading-to-text-spacing);
    text-align: center;
  }

  .text {
    margin-bottom: var(--illustrated-message--text-to-button-spacing);
    text-align: center;
  }

  /* Negative */

  &.negative {
    .icon {
      color: var(--illustrated-message--negative-icon-color);
    }

    .heading {
      color: var(--illustrated-message--negative-heading-color);
    }
  }

  /* Light */

  &.light {
    color: var(--illustrated-message--light-text-color);

    .icon {
      color: var(--illustrated-message--light-icon-color);
    }

    .heading {
      color: var(--illustrated-message--light-heading-color);
    }
  }

  /* Dark */

  &.dark {
    color: var(--illustrated-message--dark-text-color);

    .icon {
      color: var(--illustrated-message--dark-icon-color);
    }

    .heading {
      color: var(--illustrated-message--dark-heading-color);
    }
  }
}
