.text {
  color: inherit;

  &:where(.light) {
    color: var(--text--color--light);
  }

  &:where(.dark) {
    color: var(--text--color--dark);
  }

  ul,
  ol {
    padding-left: var(--text--list-padding);
  }

  ul {
    li {
      list-style: initial;
    }
  }

  small {
    font-size: var(--font-size-text--s);
  }

  blockquote {
    border-left: var(--text--blockquote-border-width)
      var(--text--blockquote-border-style) var(--text--blockquote-border-color);
    padding-left: var(--text--blockquote-padding);
  }

  .icon {
    vertical-align: text-bottom;
  }

  small {
    .icon {
      width: var(--line-height--s);
      height: var(--line-height--s);
    }
  }

  &:where(.align-start) {
    text-align: start;
  }

  &:where(.align-center) {
    text-align: center;
  }

  &:where(.align-end) {
    text-align: end;
  }

  &:where(.wrap-wrap) {
    text-wrap: wrap;
  }

  &:where(.wrap-balance) {
    text-wrap: balance;
  }

  &:where(.wrap-pretty) {
    text-wrap: pretty;
  }
}
