.text {
  color: inherit;

  &:where(.light) {
    color: var(--text--color--light);
  }

  &:where(.dark) {
    color: var(--text--color--dark);
  }

  ul,
  ol {
    padding-left: var(--size-rem--l);
  }

  ul {
    li {
      list-style: initial;
    }
  }

  small {
    font-size: var(--font-size-text--s);
  }
}
