@use "@/styles/mixins/focus";

.link {
  line-height: var(--link--line-height);
  font-weight: var(--link--font-weight);
  transition-property: color;
  transition-duration: var(--transition--duration--default);
  color: var(--link--color--default);
  width: fit-content;

  &:hover {
    color: var(--link--color--hover);
  }

  &[data-pressed] {
    color: var(--link--color--pressed);
  }

  @include focus.focus;

  &:not([aria-disabled]) {
    cursor: pointer;
  }

  &.inline {
    font-weight: normal;
    font-size: var(--font-size--m);
    text-decoration: underline;
  }

  /* Elements */

  .icon {
    margin-inline-start: var(--link--spacing);
    vertical-align: text-bottom;
    height: var(--link--icon-height);
  }

  &[aria-disabled] {
    color: var(--link--color--disabled);
  }

  &:where(.dark) {
    color: var(--link--color-dark--default);

    &:hover {
      color: var(--link--color-dark--hover);
    }

    &[data-pressed] {
      color: var(--link--color-dark--pressed);
    }

    &[aria-disabled] {
      color: var(--link--color-dark--disabled);
    }
  }

  &:where(.light) {
    color: var(--link--color-light--default);

    &:hover {
      color: var(--link--color-light--hover);
    }

    &[data-pressed] {
      color: var(--link--color-light--pressed);
    }

    &[aria-disabled] {
      color: var(--link--color-light--disabled);
    }
  }

  /* Size s */

  &.size-s {
    line-height: var(--link--line-height-s);
    font-size: var(--font-size--s);

    .icon {
      height: var(--link--icon-height-s);
    }
  }

  /* AlertText Colors */
  @mixin status($status) {
    &:has(.alertText[class*="#{$status}"]) {
      color: var(--alert-text--#{$status}-color);
    }
  }

  @include status(danger);
  @include status(success);
  @include status(warning);
  @include status(info);
  @include status(unavailable);
}
