.link {
  font-size: var(--link--font-size);
  font-weight: var(--link--font-weight);
  transition-property: color;
  transition-duration: var(--transition--duration--default);
  outline-color: var(--link--focus-outline-color);
  outline-offset: var(--link--focus-outline-offset);
  outline-width: var(--link--focus-outline-width);

  &[aria-disabled] {
    color: var(--link--disabled-color);
  }

  &:not([aria-disabled]) {
    cursor: pointer;
  }

  @extend .primary;
}

.icon {
  margin-inline-start: var(--link--text-to-icon-spacing);
  display: inline-block;
  vertical-align: text-bottom;
}

/* Variants */
@mixin variant($variant) {
  .#{$variant}:not([aria-disabled]) {
    color: var(--link--#{$variant}-color--default);

    &:hover {
      color: var(--link--#{$variant}-color--hover);
    }

    &[data-pressed] {
      color: var(--link--#{$variant}-color--pressed);
    }
  }
}

@include variant(primary);
@include variant(danger);
