@import "@/styles";

.root {
  font-size: var(--link--font-size);
  font-weight: var(--link--font-weight);
  color: var(--link--color--default);
  transition: var(--transition--default);
  &:not([aria-disabled]) {
    cursor: pointer;
  }

  &:hover {
    color: var(--link--color--hover);
  }

  &[data-pressed] {
    color: var(--link--color--pressed);
  }
}

.negative {
  color: var(--link--negative-color--default);

  &:hover {
    color: var(--link--negative-color--hover);
  }

  &[data-pressed] {
    color: var(--link--negative-color--pressed);
  }
}

.root[aria-disabled] {
  color: var(--link--color--disabled);
}
