.wrapper {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--color--gray--300);
  border-radius: 5px;
  border: 1px solid var(--color--gray--400);
}

.preview {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
}

.error {
  color: red;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.editor {
  min-height: 50px;
}

.editor pre {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--color--gray--900);
}

.expandCodeWrapper {
  align-self: start;
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  background: var(--color--gray--400);
  border-radius: var(--button--border-radius);
  flex-shrink: 1;
  cursor: pointer;
}

.expandCodeCheckbox {
  display: none;
}

.expandCodeText {
  display: block;
}
