.activeFilters {
  display: flex;
  flex-direction: row;
  column-gap: var(--list--content-to-content-spacing);
  row-gap: var(--list--content-to-content-spacing);
  flex-wrap: wrap;
  align-items: center;
}

.clearButton {
  margin-inline-start: auto;
}
