@use "@/styles/mixins/skeleton";

.skeletonText {
  @include skeleton.surface;

  width: 100%;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  height: 1em;

  &::before {
    content: "-";
    visibility: hidden;
  }
}

@include skeleton.keyframes;
