@import "../../styles/index.css";

.root {
  display: grid;
  grid-template-areas:
    "label"
    "input"
    "info";

  /* Elements */
  .dateInput {
    grid-area: input;
  }

  .label {
    grid-area: label;
    margin-bottom: var(--text-field--label-to-input-spacing);
  }

  .fieldError,
  .fieldDescription {
    grid-area: info;
    margin-top: var(--text-field--label-to-input-spacing);
  }

  &:has(.fieldError) {
    .fieldDescription {
      display: none;
    }
  }
}
