@import "@/styles";

.root {
  border-width: var(--checkbox--border-width);
  border-style: var(--checkbox--border-style);
  border-color: var(--checkbox--border-color--default);
  border-radius: var(--checkbox--border-radius);
  padding-block: var(--checkbox--padding-y);
  padding-inline: var(--checkbox--padding-x);
  background-color: var(--checkbox--background-color--default);
  color: var(--checkbox--color--default);
  display: grid;
  column-gap: var(--checkbox--checkmark-to-text-spacing);
  grid-template-columns: auto 1fr;
  width: fit-content;

  /* States */

  &:hover {
    background-color: var(--checkbox--background-color--hover);
  }

  &[data-selected] {
    border-color: var(--checkbox--border-color--selected);
    background-color: var(--checkbox--background-color--selected);
    color: var(--checkbox--color--selected);
    .checkmark {
      color: var(--checkbox--checkmark-color--selected);
    }
  }

  &[data-disabled] {
    border-color: var(--checkbox--border-color--disabled);
    background-color: var(--checkbox--background-color--disabled);
    color: var(--checkbox--color--disabled);
    .checkmark {
      color: var(--checkbox--checkmark-color--disabled);
    }
  }

  &[data-disabled][data-selected] {
    border-color: var(--checkbox--border-color--selected-disabled);
    background-color: var(--checkbox--background-color--selected-disabled);
    color: var(--checkbox--color--selected-disabled);
    .checkmark {
      color: var(--checkbox--checkmark-color--selected-disabled);
    }
  }
}

.checkmark {
  color: var(--checkbox--checkmark-color--default);
}
