@use "../../styles/mixins/focus.scss";

.checkbox {
  display: flex;
  column-gap: var(--form-control--spacing-x);
  width: fit-content;

  @include focus.focus;

  .icon {
    color: var(--choice--icon-color--default);
  }

  &[data-selected],
  &[data-indeterminate] {
    .icon {
      color: var(--choice--icon-color--selected);
    }
  }

  &[data-disabled] {
    color: var(--text--color--disabled);

    .icon {
      color: var(--choice--icon-color--disabled);
    }
  }

  &[data-invalid]:not([data-selected]) {
    .icon {
      color: var(--form-control--border-color--invalid);
    }
  }
}
