@use "@/styles/mixins/focus";

.checkbox {
  .input {
    display: flex;
    flex-direction: row;
    column-gap: var(--form-control--spacing-x);

    @include focus.focus;

    &[data-selected],
    &[data-indeterminate] {
      .icon {
        color: var(--choice--icon-color--selected);
      }
    }

    &[data-disabled] {
      color: var(--text--color--disabled);

      .icon {
        color: var(--choice--icon-color--disabled);
      }
    }

    &[data-invalid]:not([data-selected]) {
      .icon {
        color: var(--form-control--border-color--invalid);
      }
    }
  }

  .icon {
    color: var(--choice--icon-color--default);
  }
}
