.tooltip {
  border-radius: var(--corner-radius--default);
  background-color: var(--tooltip--background-color);
  color: var(--tooltip--color);
  font-size: var(--tooltip--font-size);
  padding-block: var(--tooltip--padding-y);
  padding-inline: var(--tooltip--padding-x);
  max-width: var(--tooltip--max-width);
  transform: translate3d(0, 0, 0);
  box-shadow: var(--tooltip--box-shadow);

  --translate-origin-length: var(--tooltip--tooltip-to-trigger-spacing) / 2;

  /* Placement */
  &[data-placement="top"] {
    margin-bottom: var(--tooltip--tooltip-to-trigger-spacing);

    --translate-origin: translateY(var(--translate-origin-length));
  }

  &[data-placement="bottom"] {
    margin-top: var(--tooltip--tooltip-to-trigger-spacing);

    --translate-origin: translateY(var(--translate-origin-length) * -1);

    .tip svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement="right"] {
    margin-left: var(--tooltip--tooltip-to-trigger-spacing);

    --translate-origin: translateX(var(--translate-origin-length) * -1);

    .tip svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement="left"] {
    margin-right: var(--tooltip--tooltip-to-trigger-spacing);

    --translate-origin: translateX(var(--translate-origin-length));

    .tip svg {
      transform: rotate(-90deg);
    }
  }

  /* Animation */

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }

  .tip {
    width: var(--tooltip--tip-size);
    height: var(--tooltip--tip-size);

    svg {
      display: block;
      fill: var(--tooltip--background-color);
    }
  }
}

@keyframes slide {
  from {
    transform: var(--translate-origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
