@import "@/styles";

.root {
  border-radius: var(--border-radius--default);
  background-color: var(--tooltip--background-color);
  color: var(--tooltip--color);
  font-size: var(--tooltip--font-size);
  padding-block: var(--tooltip--padding-y);
  padding-inline: var(--tooltip--padding-x);
  max-width: var(--tooltip--max-width);
  transform: translate3d(0, 0, 0);

  --translate-length: calc(var(--tooltip--tooltip-to-content-spacing) / 2);
}

.arrow {
  width: var(--tooltip--arrow-size);
  height: var(--tooltip--arrow-size);
  svg {
    display: block;
    fill: var(--tooltip--background-color);
  }
}

/* Placement */

[data-placement="top"] {
  margin-bottom: var(--tooltip--tooltip-to-content-spacing);
  --translate-origin: translateY(var(--translate-length));
}

[data-placement="bottom"] {
  margin-top: var(--tooltip--tooltip-to-content-spacing);
  --translate-origin: translateY(calc(var(--translate-length) * -1));
  .arrow svg {
    transform: rotate(180deg);
  }
}

[data-placement="right"] {
  margin-left: var(--tooltip--tooltip-to-content-spacing);
  --translate-origin: translateX(calc(var(--translate-length) * -1));
  .arrow svg {
    transform: rotate(90deg);
  }
}

[data-placement="left"] {
  margin-right: var(--tooltip--tooltip-to-content-spacing);
  --translate-origin: translateX(var(--translate-length));
  .arrow svg {
    transform: rotate(-90deg);
  }
}

/* Animation */

&[data-entering] {
  animation: slide 200ms;
}

&[data-exiting] {
  animation: slide 200ms reverse ease-in;
}

@keyframes slide {
  from {
    transform: var(--translate-origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
