@mixin avatarButton {
  &:has(.avatar) {
    padding: 0;
    background: none;
    width: fit-content;
    position: relative;
    border-radius: var(--corner-radius--round);

    .avatar {
      transition-property: filter;
      transition-duration: var(--transition--duration--default);
    }

    .icon {
      opacity: 0;
      position: absolute;
      width: 70%;
      height: 70%;
      top: 15%;
      left: 15%;
      color: var(--image-button--hover-icon-color);
      transition-property: opacity;
      transition-duration: var(--transition--duration--default);
    }

    &:hover {
      .avatar {
        filter: brightness(var(--image-button--brightness--hover));
      }

      .icon {
        opacity: 1;
      }
    }

    &[data-pressed] {
      .avatar {
        filter: brightness(var(--image-button--brightness--pressed));
      }

      .icon {
        opacity: 1;
      }
    }
  }
}
