@mixin focus($within: false, $inside: false) {
  outline-color: var(--focus--outline-color);
  outline-offset: calc(var(--focus--outline-offset) * #{if($inside, -1, -1)});
  outline-width: var(--focus--outline-width);
  outline-style: none;

  [data-focused],
  :focus {
    outline-style: none;
  }

  &[data-focus-visible],
  &:focus-#{if($within, "within", "visible")},
  &:focus-visible {
    outline-style: auto;
  }
}
