@mixin focus {
  outline-color: var(--focus--outline-color);
  outline-offset: var(--focus--outline-offset);
  outline-width: var(--focus--outline-width);

  &[data-focused] {
    outline-style: none;
  }

  &[data-focus-visible] {
    outline-style: auto;
  }
}
