@mixin formControl {
  @include formBorder;
  @include formOutline;
  @include formColor;
  @include formAnimation;
  @include formOrder;
  @include formInteractionStates;
}

@mixin formBorder {
  border-width: var(--form-control--border-width);
  border-style: var(--form-control--border-style);
  border-radius: var(--form-control--corner-radius);
}

@mixin formOutline {
  padding-block: calc(
    var(--form-control--padding-y) - var(--form-control--border-width)
  );
  padding-inline: var(--form-control--padding-x);
}

@mixin formColor {
  color: var(--form-control--content-color--default);
  border-color: var(--form-control--border-color--default);
  background-color: var(--form-control--background-color--default);
}

@mixin formAnimation {
  transition-property: color, background-color, border-color;
  transition-duration: var(--transition--duration--default);
}

@mixin formOrder {
  order: 2;
}

@mixin formInteractionStates {
  &::placeholder {
    color: var(--form-control--placeholder-color--default);
  }

  /* Hovered */
  &:hover {
    background-color: var(--form-control--background-color--hover);
  }

  /* Invalid */
  &[data-invalid],
  [data-invalid] & {
    border-color: var(--form-control--border-color--invalid);
    background-color: var(--form-control--background-color--invalid);
  }

  /* Focused */
  &:focus-within {
    border-color: var(--form-control--border-color--focused);
    background-color: var(--form-control--background-color--focused);
  }
  &:focus-visible,
  &:focus {
    outline: none;
  }

  /* Read Only */
  &[readonly],
  &[data-readonly],
  [data-readonly] & {
    background-color: var(--form-control--background-color--default);
    border-color: var(--form-control--border-color--default);
  }

  /* Selected */
  &[data-selected],
  [data-selected] & {
    color: var(--form-control--content-color--selected);
    border-color: var(--form-control--border-color--selected);
    background-color: var(--form-control--background-color--selected);
  }

  /* Disabled */
  &:disabled,
  &[data-disabled],
  [aria-disabled] & {
    color: var(--form-control--content-color--disabled);
    border-color: var(--form-control--border-color--disabled);
    background-color: var(--form-control--background-color--disabled);

    &::placeholder {
      color: var(--form-control--placeholder-color--disabled);
    }
  }
}
