@import "@/styles";

.breadcrumbItem {
  color: var(--breadcrumb-item--color);
  font-size: var(--breadcrumb-item--font-size);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: default;

  &:last-child {
    .icon {
      display: none;
    }
  }
}

.link {
  padding-inline: var(--breadcrumb-item--padding-x);
  font-weight: var(--breadcrumb-item--font-weight--default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not([aria-current="page"]):hover {
    text-decoration: underline;
  }

  &[aria-current="page"] {
    font-weight: var(--breadcrumb-item--font-weight--current);
  }
}
