.breadcrumbItem {
  color: var(--breadcrumb-item--color);
  font-size: var(--breadcrumb-item--font-size);
  display: flex;
  align-items: center;
  min-width: 0;

  &:last-child {
    .icon {
      display: none;
    }
  }
}
