@use "@/styles/mixins/formControl";

.searchField {
  &[data-empty] .clearButton {
    display: none;
  }

  .searchIcon {
    color: var(--placeholder-color--default);
    margin-inline: var(--size-px--s);
  }

  .kbd {
    margin-inline-end: var(--size-px--m);
  }

  &:disabled,
  &[data-disabled],
  [aria-disabled] & {
    .inputContainer {
      background-color: var(--form-control--background-color--disabled);
      border-color: var(--form-control--border-color--disabled);
    }

    .searchIcon {
      color: var(--placeholder-color--disabled);
    }

    input::placeholder {
      color: var(--placeholder-color--disabled);
    }
  }
}

.inputContainer {
  order: 2;
  display: flex;
  position: relative;
  align-items: center;

  @include formControl.formControl();

  & {
    padding: 0;
  }

  .input {
    border: none;
    background: none;
    padding-block: calc(
      var(--form-control--padding-y) - var(--form-control--border-width)
    );
    flex-grow: 1;
    min-width: 0;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: var(--placeholder-color--default);
    }

    &[data-focused] {
      outline: none;
    }
  }

  .clearButton {
    padding-block: initial;
    height: stretch;
  }
}
