.inlineCode {
  font-family: FiraCode, monospace;
  font-size: var(--inline-code--font-size);
  overflow-wrap: break-word;
  background-color: var(--inline-code--default-background-color);
  padding-inline: var(--inline-code--padding-x);
  padding-block: var(--inline-code--padding-y);
  border-radius: var(--inline-code--corner-radius);
  display: inline;
  width: fit-content;
  max-width: 100%;
  min-width: 0;

  @mixin variant($color) {
    &:where(.#{$color}) {
      color: var(--inline-code--#{$color}-content-color);
      background-color: var(--inline-code--#{$color}-background-color);
    }
  }

  @include variant(default);
  @include variant(light);
  @include variant(dark);
}
