.align {
  &:has(.avatar):has(.text) {
    display: flex;
    gap: var(--align--avatar-text--spacing);
    height: fit-content;

    --first-two-lines-height: calc(
      (var(--font-size--s) * var(--line-height)) * 2
    );

    min-height: var(--first-two-lines-height);

    .text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-self: center;
      font-size: var(--font-size--s);
    }

    .avatar {
      margin-top: calc(
        (var(--first-two-lines-height) - var(--avatar--size--m)) / 2
      );
    }
  }

  &:has(:global(.flow--form-field)):has(.button) {
    display: flex;
    align-items: flex-start;
    column-gap: var(--align--input-button--spacing);

    :global(.flow--form-field) {
      flex-grow: 1;
    }

    &:has(label) {
      .button {
        margin-top: calc(
          var(--label--font-size) * 1.5 + var(--form-control--spacing-y)
        );
      }
    }
  }

  &:has(.text):has(.contextualHelpTriggerButton),
  &:has(.text):has(.copyButton) {
    display: flex;
    align-items: center;
    column-gap: var(--align--text-button--spacing);
  }

  &:has(> .text):has(> .icon) {
    display: flex;
    align-items: center;
    column-gap: var(--align--icon-text--spacing);

    .icon {
      color: var(--icon--color);
    }
  }
}

@media (max-width: 550px) {
  .align:has(:global(.flow--form-field)):has(.button) {
    flex-direction: column;
    row-gap: var(--section--spacing);
    align-items: stretch;

    .button {
      width: 100%;
    }

    &:has(label) {
      .button {
        margin-top: 0;
      }
    }
  }
}
