@use "@/styles/mixins/formControl";

.dateInput {
  display: flex;

  @include formControl.formControl();

  :global(.react-aria-DateInput) {
    display: flex;
    flex-grow: 1;
  }

  :global(.react-aria-DateSegment) {
    border-radius: var(--date-picker--date-segment-corner-radius);
    transition-property: background-color;
    transition-duration: var(--transition--duration--default);

    &:focus {
      background: var(--date-picker--date-segment-background-color--focused);
      outline: none;
    }
  }

  :global(.flow--button) {
    margin-block: calc((var(--form-control--padding-y) - 1px) * -1);
    margin-inline-end: calc(var(--form-control--padding-x) * -1);
    padding: calc(
      var(--button--padding-icon-only) - var(--form-control--border-width)
    );
  }
}
