@use "@/styles/mixins/textInput.scss";

.dateInput {
  @include textInput.textInput();
  display: flex;

  :global(.react-aria-DateInput) {
    display: flex;
    flex-grow: 1;
  }

  :global(.react-aria-DateSegment) {
    border-radius: var(--date-picker--date-segment-border-radius);

    &:focus {
      background: var(--date-picker--date-segment-background-color--focused);
      outline: none;
    }
  }
}
