@import "@/styles";

.radio {
  border: var(--radiogroup--border-width) solid
    var(--radiogroup--border-color--default);
  padding: var(--radiogroup--padding-y) var(--radiogroup--padding-x);
  flex: 1;
  background-color: var(--radiogroup--background-color--default);
  color: var(--radiogroup--color--default);
  display: grid;
  grid-template-areas: "title";
  row-gap: var(--radiogroup--text-to-text);
  column-gap: var(--radiogroup--icon-to-text);

  &:first-of-type {
    border-top-left-radius: var(--radiogroup--border-radius);
    border-bottom-left-radius: var(--radiogroup--border-radius);
  }

  &:last-of-type {
    border-top-right-radius: var(--radiogroup--border-radius);
    border-bottom-right-radius: var(--radiogroup--border-radius);
  }

  :global(.flow-description) {
    grid-area: description;
  }

  :global(.flow-additionalinfo) {
    grid-area: additionalInfo;
    justify-self: end;
    font-weight: bold;
  }

  :global(.flow-text:not(.flow-additionalinfo):not(.flow-description)) {
    grid-area: title;
  }

  :global(.flow-icon) {
    grid-area: icon;
    align-self: center;
  }

  &:has(:global(.flow-icon)) {
    grid-template-areas:
      "icon"
      "title";
    justify-items: center;
    border-radius: var(--radiogroup--border-radius);
  }

  &:has(:global(.flow-description)) {
    grid-template-areas:
      "title"
      "description";
    justify-items: start;
    border-radius: var(--radiogroup--border-radius);

    :global(.flow-text:not(.flow-additionalinfo):not(.flow-description)) {
      font-weight: bold;
    }

    &:has(:global(.flow-additionalinfo)) {
      grid-template-areas:
        "title"
        "description"
        "additionalInfo";
    }

    &:has(:global(.flow-icon)) {
      grid-template-areas:
        "icon title"
        ". description";
      grid-template-columns: auto 1fr;

      &:has(:global(.flow-additionalinfo)) {
        grid-template-areas:
          "icon title"
          ". description"
          ". additionalInfo";
      }
    }
  }

  &[data-selected] {
    border-color: var(--radiogroup--border-color--selected);
    background-color: var(--radiogroup--background-color--selected);
    color: var(--radiogroup--color--selected);
  }

  &[data-disabled] {
    border-color: var(--radiogroup--border-color--disabled);
    background-color: var(--radiogroup--background-color--disabled);
    color: var(--radiogroup--color--disabled);
  }

  &[data-disabled]&[data-selected] {
    border-color: var(--radiogroup--border-color--selected-disabled);
    background-color: var(--radiogroup--background-color--selected-disabled);
    color: var(--radiogroup--color--selected-disabled);
  }
}
