.inlineAlert {
  display: inline;

  .icon {
    vertical-align: -0.14rem;
    margin-inline-end: var(--inline-alert--spacing);
  }

  /* Colors */
  @mixin status($status) {
    &:where(.#{$status}) {
      color: var(--inline-alert--#{$status}-color);
    }
  }

  @include status(danger);
  @include status(success);
  @include status(warning);
  @include status(info);
  @include status(unavailable);
}
