.label {
  color: var(--label--color--default);
  font-size: var(--label--font-size);
  font-weight: var(--label--font-weight);
  line-height: var(--label--line-height);
  display: inline-flex;
  align-items: center;
  column-gap: var(--label--spacing);

  &.disabled {
    color: var(--label--color--disabled);
  }

  > div {
    display: inline-flex;
    order: 1;
  }

  & .optional {
    order: 0;
  }
}
