.label {
  color: var(--label--color--default);
  font-size: var(--label--font-size);
  font-weight: var(--label--font-weight);
  line-height: var(--label--line-height);
  display: inline-flex;
  align-items: center;
  column-gap: var(--label--spacing);
  flex-wrap: wrap;

  &.disabled {
    color: var(--label--color--disabled);
  }

  & .optional {
    order: 0;
  }

  & .right {
    margin-inline-start: auto;
  }
}
