.heading {
  font-family: "ProximaNova", sans-serif;
  color: var(--heading--color);
  display: flex;
  column-gap: var(--heading--icon-to-text-spacing);
  font-size: var(--font-size);

  .icon {
    height: calc(var(--font-size) * var(--line-height--default));
    width: var(--font-size);
  }

  @mixin level($level) {
    &.h#{$level} {
      --font-size: var(--heading--h#{$level}-font-size);
    }
  }

  @include level(1);
  @include level(2);
  @include level(3);
  @include level(4);
  @include level(5);
  @include level(6);
}

@media (max-width: 550px) {
  .heading.h1 {
    --font-size: var(--heading--h1-font-size-mobile);
  }
}
