.root {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-px--m);
}

.mainContent {
  padding: var(--size-px--m);
  background-color: var(--neutral--color--100);
  border-radius: var(--border-radius--default);
}
