.calendar {
  padding: var(--calendar--padding);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: var(--font-size--default);
      font-weight: var(--font-weight--normal);
    }
  }

  :global(.react-aria-CalendarHeaderCell) {
    color: var(--label--color);
  }

  :global(.react-aria-CalendarCell) {
    width: var(--calendar--cell-size);
    height: var(--calendar--cell-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border-radius: var(--button--corner-radius);

    &[data-outside-month] {
      display: none;
    }

    &:hover {
      background: var(--calendar--day-background-color--hover);
    }

    &[data-pressed] {
      background: var(--calendar--day-background-color--pressed);
    }

    &[data-selected] {
      background: var(--calendar--day-background-color--pressed);
    }

    &[data-disabled] {
      background: var(--calendar--day-background-color--disabled);
      color: var(--calendar--day-color--disabled);
    }
  }
}
