@use "@/styles/mixins/focus";

.calendar {
  padding: var(--popover--padding--m);
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--calendar--spacing);

    h2 {
      font-size: var(--calendar--heading-font-size);
    }
  }

  :global(.react-aria-CalendarHeaderCell) {
    font-size: var(--calendar--cell-font-size);
  }

  table {
    border-spacing: var(--calendar--spacing);
  }

  :global(.react-aria-CalendarCell) {
    width: var(--calendar--cell-size);
    height: var(--calendar--cell-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border-radius: var(--calendar--cell-corner-radius);
    font-size: var(--calendar--cell-font-size);
    transition-property: background-color;
    transition-duration: var(--transition--duration--default);

    @include focus.focus;

    &[data-outside-month] {
      display: none;
    }

    &:hover {
      background: var(--calendar--cell-background-color--hover);
    }

    &[data-pressed] {
      background: var(--calendar--cell-background-color--pressed);
    }

    &[data-selected] {
      background: var(--calendar--cell-background-color--selected);
      color: var(--calendar--cell-content-color--selected);
    }

    &[data-disabled],
    &[data-unavailable="true"] {
      background: var(--calendar--cell-background-color--disabled);
      color: var(--calendar--cell-content-color--disabled);
    }

    @include focus.focus;
  }

  &.range {
    :global(.react-aria-CalendarCell) {
      position: relative;
      isolation: isolate;
      transition-duration: 0s;

      &[data-selected] {
        &:before {
          content: "";
          background: var(--calendar--cell-range-background-color);
          width: calc(100% + 0.375rem);
          height: 100%;
          position: absolute;
          z-index: -1;
        }

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          border-radius: var(--calendar--cell-corner-radius);
        }

        &:hover {
          &:after {
            background: var(--calendar--cell-background-color--hover);
          }
        }

        &[data-pressed] {
          &:after {
            background: var(--calendar--cell-background-color--pressed);
          }
        }

        &[data-selection-start],
        &[data-selection-end] {
          &:after {
            background: var(--calendar--cell-background-color--selected);
          }
        }

        &[data-selection-start] {
          &:before {
            border-top-left-radius: var(--calendar--cell-corner-radius);
            border-bottom-left-radius: var(--calendar--cell-corner-radius);
            left: 0;
          }
        }

        &[data-selection-end] {
          &:before {
            border-top-right-radius: var(--calendar--cell-corner-radius);
            border-bottom-right-radius: var(--calendar--cell-corner-radius);
            right: 0;
          }
        }

        &:not([data-selection-start]):not([data-selection-end]) {
          color: var(--text--color--default);
          background: none;
        }

        &[data-selection-start][data-selection-end] {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
