.buttonGroupContainer {
  container-type: inline-size;
}

.buttonGroup {
  gap: var(--button-group--button-to-button-spacing);
  display: grid;
  grid-template-areas: "abort secondary primary";
  grid-auto-columns: 1fr auto auto;

  .secondary:last-child {
    grid-area: abort;
    justify-self: start;
  }

  :first-child:not(.secondary) {
    grid-area: primary;
  }

  @container (max-width: 550px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
