.popover {
  background-color: var(--popover--background-color);
  box-shadow: var(--popover--box-shadow);
  border-radius: var(--popover--corner-radius);
  display: flex;
  flex-direction: column;
  --size-px--s--negative: calc(var(--size-px--s) * -1);
  min-width: var(--popover--min-width);
  border-width: var(--popover--border-width);
  border-style: var(--popover--border-style);
  border-color: var(--popover--border-color);
  max-width: 100dvw;

  :where(.content) {
    overflow-y: auto;

    &:focus-visible {
      outline: none;
    }
  }

  .tip {
    width: var(--popover--tip-width);

    svg {
      display: block;
      fill: var(--popover--background-color);
      stroke: var(--popover--border-color);
      stroke-width: var(--popover--border-width);
    }
  }

  hr {
    margin-block: var(--popover--spacing);
  }

  &[data-placement="top"] {
    --origin: translateY(var(--size-px--s));

    &:has(.tip) {
      margin-bottom: var(--popover--tip-height);
    }
  }

  &[data-placement="bottom"] {
    --origin: translateY(var(--size-px--s--negative));

    &:has(.tip) {
      margin-top: var(--popover--tip-height);
    }

    .tip svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement="right"] {
    --origin: translateX(var(--size-px--s--negative));

    &:has(.tip) {
      margin-left: var(--popover--tip-height);
    }

    .tip svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement="left"] {
    --origin: translateX(var(--size-px--s));

    &:has(.tip) {
      margin-right: var(--popover--tip-height);
    }

    .tip svg {
      transform: rotate(-90deg);
    }
  }

  &[data-entering] {
    animation: popover-slide var(--transition--duration--default);
  }

  &[data-exiting] {
    animation: popover-slide var(--transition--duration--default) reverse
      ease-in;
  }

  &:has(:global(.flow--options):empty) {
    display: none;
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
