.fieldLabel {
  display: flex;
  flex-grow: 1;
  column-gap: var(--label--spacing);
  margin-bottom: var(--form-control--label-to-control-spacing);

  .container {
    display: flex;
    column-gap: var(--label--spacing);
  }
}

.button {
  outline-offset: calc(var(--size-px--xxxs) * -1);

  &.help {
    order: 2;
    display: inline;
    vertical-align: middle;
  }

  &.generate {
    margin-inline-start: auto;
  }
}
