.stepIndicator {
  display: flex;
  flex-direction: row;
  isolation: isolate;
  height: calc(1lh + var(--step-indicator--padding-y) * 2);
  overflow: hidden;
  container-type: inline-size;
  border-radius: var(--step-indicator--corner-radius);
}
