.contentBox {
  background-color: var(--content-box--background-color);
  box-shadow: var(--content-box--box-shadow);
  border-radius: var(--content-box--border-radius);
  padding: var(--content-box--padding);
}
