.messageThread {
  display: flex;
  flex-direction: column;
  row-gap: var(--message-thread--spacing);

  .message {
    &.responder {
      padding-inline-end: var(--message-thread--indentation);
    }

    &.sender {
      padding-inline-start: var(--message-thread--indentation);
    }
  }
}
