.body {
  --header-height: 72px;

  background-color: var(--neutral--color--300);
  isolation: isolate;

  * {
    box-sizing: border-box;
  }
}

.wave {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 400px;
  object-fit: cover;
}

.headerNavigation {
  padding-block: var(--layout-card--padding);
}

.header {
  background-color: var(--color--hosting-blue--200);
  position: sticky;
  top: 0;
  z-index: 1;

  &.scrolled {
    box-shadow: var(--shadow--content);
  }
}

.headerContent {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-inline: calc(var(--size-px--xl) + var(--size-px--l));
  align-items: center;
}

.mobileNavigation {
  display: none;
}

.logo {
  height: var(--size-px--xl);
}

.wrapper {
  isolation: isolate;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  display: flex;
  position: relative;
  padding-inline: var(--size-px--xl);
  padding-top: var(--size-px--m);
  column-gap: var(--size-px--l);
  width: 1800px;
  max-width: 100%;
  margin: 0 auto auto;
}

.mainNavigation,
.anchorNavigation {
  position: sticky;
  top: calc(var(--header-height) + var(--size-px--m));
  width: 290px;
  flex-shrink: 0;
  overflow: auto !important;
  max-height: calc(
    100dvh - var(--size-px--l) - var(--header-height) - var(--size-px--m)
  );
}

.anchorNavigation {
  height: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-px--m);
  flex-grow: 1;
  min-width: 0;
}

.tabsContainer {
  min-width: 0;
  width: 100%;
}

.tabs {
  flex-grow: 1;
  min-width: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  row-gap: var(--section--spacing);

  > h3,
  > h4 {
    margin-top: var(--size-px--m);
  }
}

.topContent {
  width: 100%;
}

.homeTopLayoutCard.homeTopLayoutCard {
  padding: 0;

  .homeImage {
    border-bottom: var(--separator--height) var(--border-style--default)
      var(--separator--color);
  }

  .homeTopContent {
    padding: var(--layout-card--padding);
  }
}

@media (max-width: 1400px) {
  .mainNavigation,
  .mainNavigation,
  .headerNavigation,
  .anchorNavigation {
    display: none !important;
  }

  .mobileNavigation {
    display: flex;
    padding-block: var(--size-px--m);
  }

  .mobileNavigationOffCanvas {
    h3 {
      display: none;
    }
  }

  .headerContent {
    padding-inline: var(--size-px--xl);
  }

  .mainWrapper {
    padding-inline: var(--size-px--m);
  }
}
