@use "@/styles/mixins/formControl";
@use "./components/ComplexityIndicator/complexity";

.inputGroup {
  display: flex;

  position: relative;
  flex-direction: row;
  min-width: fit-content;

  @include formControl.formControl;
  padding-inline-end: 0;
  padding-top: 0;

  @include complexity.animation-in("padding-bottom");

  &:has([data-complexity-visible="false"]) {
    transition-duration: #{complexity.$animation-out-duration};
    padding-bottom: 0;
  }

  .input {
    flex-grow: 1;

    background-color: unset;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-width: 0;

    /* Hovered */
    &:hover {
      background-color: unset;
    }

    /* Focused */
    &:focus-within {
      border-color: unset;
      background-color: unset;
    }
    &:focus-visible,
    &:focus {
      outline: unset;
    }
  }

  .buttonContainer {
    display: flex;

    & .button {
      flex-shrink: 0;
      outline-offset: calc(var(--size-px--xxxs) * -1);
    }
  }
}
