@mixin size($size) {
  &.size-#{$size} {
    > div > div {
      width: var(--modal--size--#{$size});
    }
  }
}

.modal,
.offCanvas {
  > div {
    position: fixed;
    height: var(--visual-viewport-height);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    > div {
      max-width: 100%;
      max-height: var(--visual-viewport-height);
      padding: var(--size-px--xl);
    }
  }

  [role="dialog"] {
    > form {
      display: contents;
    }

    pointer-events: all;
    outline: none;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: var(--modal--background-color);
    overflow: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding-inline: var(--modal--padding);
    padding-block: var(--modal--header-padding-y);
    border-bottom: var(--modal--border-width) var(--modal--border-style)
      var(--modal--border-color);

    > span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      gap: var(--section-header--heading-to-action-spacing);
    }
  }

  .content,
  .columnLayout {
    overflow: hidden auto;
    min-height: var(--modal--content-min-height);
    padding: var(--modal--padding);
    flex-grow: 1;
    background-color: var(--modal--background-color);
  }

  .actionGroup {
    padding: var(--modal--padding);
    background-color: var(--modal--footer-background-color);
    border-top: var(--modal--border-width) var(--modal--border-style)
      var(--modal--border-color);
    flex-grow: 0;
  }

  .columnLayout {
    .accentBox {
      position: sticky;
      height: fit-content;
      top: 0;
    }
  }
}

/* Normal Modal Desktop */
@media (min-width: 550px) {
  .modal {
    @include size(s);
    @include size(m);
    @include size(l);

    [role="dialog"] {
      border-radius: var(--modal--corner-radius);
    }

    > div {
      > div {
        &[data-entering] {
          animation: modal-zoom var(--transition--duration--slow)
            cubic-bezier(0.1, 0.8, 0.3, 1.2);
        }

        &[data-exiting] {
          animation: modal-zoom var(--transition--duration--default)
            cubic-bezier(0.1, 0.8, 0.3, 1.2) reverse;
        }
      }
    }
  }
}

/* OffCanvas Mobile & Desktop */

.offCanvas {
  @include size(s);
  @include size(m);
  @include size(l);

  [role="dialog"] {
    height: 100%;
    border-top-left-radius: var(--modal--corner-radius);
    border-bottom-left-radius: var(--modal--corner-radius);
  }

  > div {
    padding-left: var(--size-px--m);

    > div {
      height: inherit;
      margin-right: unset;
      margin-left: auto;
      padding: unset;

      &[data-entering] {
        animation: modal-slide-in-from-right var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-in-from-right
          var(--transition--duration--default) reverse;
      }
    }
  }

  &.left {
    [role="dialog"] {
      border-radius: 0 var(--modal--corner-radius) var(--modal--corner-radius) 0;
    }

    > div {
      padding-right: var(--size-px--m);

      > div {
        margin-right: auto;
        margin-left: unset;
        padding: unset;

        &[data-entering] {
          animation: modal-slide-in-from-left var(--transition--duration--slow);
        }

        &[data-exiting] {
          animation: modal-slide-in-from-left
            var(--transition--duration--default) reverse;
        }
      }
    }
  }
}

/* Mobile Tray */

@media (max-width: 550px) {
  .modal {
    > div {
      > div {
        margin-top: auto;
        padding: unset;
        width: 100%;
        overflow: hidden auto;
        border-top-left-radius: var(--modal--corner-radius);
        border-top-right-radius: var(--modal--corner-radius);
        pointer-events: all;

        &[data-entering] {
          animation: modal-slide-up var(--transition--duration--slow);
        }

        &[data-exiting] {
          animation: modal-slide-up var(--transition--duration--default) reverse;
        }
      }
    }

    [role="dialog"],
    [role="dialog"] > form {
      overflow: hidden auto;
      max-height: unset;
    }
  }
}

/* Mobile  */

@media (max-width: 550px) {
  .modal,
  .offCanvas {
    .actionGroup {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  .offCanvas {
    [role="dialog"],
    [role="dialog"] > form {
      border-radius: 0;
    }
  }
}

/* Animations */

@keyframes modal-zoom {
  /* Start with scale(1) to let ResizeObservers take the correct width on mount. */
  0% {
    opacity: 0;
    transform: scale(1);
  }

  0.1% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes modal-slide-up {
  from {
    translate: 0 30%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes modal-slide-in-from-right {
  from {
    translate: 30% 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes modal-slide-in-from-left {
  from {
    translate: -30% 0;
  }

  to {
    translate: 0 0;
  }
}
