.modal {
  isolation: isolate;

  > div {
    border-radius: var(--modal--corner-radius);
    background: var(--modal--background-color);
    max-height: calc(100dvh - var(--size-px--xxl));
    max-width: calc(100vw - var(--size-px--xxl));
    overflow: hidden;

    @extend .size-s;

    &[data-entering] {
      animation: modal-zoom var(--transition--duration--slow)
        cubic-bezier(0.1, 0.8, 0.3, 1.2);
    }

    [role="dialog"] {
      overflow: hidden;
      outline: none;
      display: grid;
      grid-template-areas:
        "content"
        "actionGroup";
      grid-template-rows: 1fr auto;
      height: 100%;
      max-height: inherit;
    }

    .actionGroup {
      grid-area: actionGroup;
      padding: var(--modal--action-group-padding);
      background-color: var(--modal--action-group-background-color);
      border-top-color: var(--modal--action-group-border-color);
      border-top-width: var(--modal--action-group-border-top-width);
      border-top-style: var(--modal--action-group-border-style);
    }

    .content {
      grid-area: content;
      overflow-x: hidden;
      overflow-y: auto;
      padding-inline: var(--modal--padding);
      padding-bottom: var(--modal--padding-bottom);
      display: flex;
      flex-direction: column;
      row-gap: var(--section--content-to-content-spacing);
    }

    .title {
      background-color: var(--modal--background-color);
      position: sticky;
      top: 0;
      z-index: 1;
      margin-inline: calc(var(--modal--padding) * -1);
      margin-bottom: var(--size-px--m);
      border-block-end-width: var(--section--border-width);
      border-block-end-style: var(--section--border-style);
      border-block-end-color: var(--section--border-color);
      padding: var(--size-px--m) var(--modal--padding);
    }
  }

  /* Sizes */
  @mixin size($size) {
    &.size-#{$size} {
      > div {
        width: var(--modal--size--#{$size});
      }
    }
  }

  @include size(s);
  @include size(m);
  @include size(l);
}

/* OffCanvas */

@media (min-width: 550px) {
  .modal.offCanvas {
    justify-content: flex-end;

    > div {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 100%;
      max-height: 100%;

      &[data-entering] {
        animation: modal-slide-in var(--transition--duration--slow);
      }
    }
  }
}

/* Mobile */

@media (max-width: 550px) {
  .modal {
    overflow-y: auto;
    padding-top: var(--size-px--xxl);

    > div {
      margin-top: auto;
      width: 100%;
      max-width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-height: max-content;

      &[data-entering] {
        animation: modal-slide-up var(--transition--duration--slow);
      }

      .content {
        overflow: visible;
      }
    }
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

@keyframes modal-slide-up {
  from {
    margin-bottom: -100px;
  }

  to {
    margin-bottom: 0;
  }
}

@keyframes modal-slide-in {
  from {
    margin-right: -100px;
  }

  to {
    margin-right: 0;
  }
}
