.modal,
.offCanvas {
  > div {
    display: flex;
    position: absolute;
    overflow: hidden;
    min-height: 50vh;
    max-height: calc(var(--visual-viewport-height) - var(--size-px--xxl));
    top: calc(var(--visual-viewport-height) / 2);
    background-color: var(--modal--background-color);
    width: max-content;
    max-width: max(90vw, var(--size-px--xxl));
    margin-left: 50vw;
    translate: -50% -50%;
  }

  [role="dialog"],
  [role="dialog"] > div > form,
  .modalContainer {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    flex-grow: 1;
    outline: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding-inline: var(--modal--padding);
    padding-block: var(--modal--header-padding-y);
    border-bottom: var(--modal--border-width) var(--modal--border-style)
      var(--modal--border-color);

    > span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      gap: var(--section-header--heading-to-action-spacing);
    }
  }

  .content,
  .columnLayout {
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    padding: var(--modal--padding);
    min-height: var(--modal--content-min-height);
    flex-grow: 1;
  }

  .actionGroup {
    padding: var(--modal--padding);
    background-color: var(--modal--footer-background-color);
    border-top: var(--modal--border-width) var(--modal--border-style)
      var(--modal--border-color);
    flex-grow: 0;
  }

  .columnLayout {
    .accentBox {
      position: sticky;
      height: fit-content;
      top: 0;
    }
  }
}

@mixin size($size) {
  &.size-#{$size} {
    > div {
      width: var(--modal--size--#{$size});
    }
  }
}

/* Normal Modal Desktop */
@media (min-width: 550px) {
  .modal,
  .offCanvas {
    @include size(s);
    @include size(m);
    @include size(l);
  }

  .modal {
    > div {
      border-radius: var(--modal--corner-radius);

      &[data-entering] {
        animation: modal-zoom var(--transition--duration--slow)
          cubic-bezier(0.1, 0.8, 0.3, 1.2);
      }

      &[data-exiting] {
        animation: modal-zoom var(--transition--duration--default)
          cubic-bezier(0.1, 0.8, 0.3, 1.2) reverse;
      }
    }
  }
}

/* OffCanvas Mobile & Desktop */

.offCanvas {
  @include size(s);
  @include size(m);
  @include size(l);

  > div {
    margin-left: unset;
    translate: unset;
    height: var(--visual-viewport-height);
    max-height: var(--visual-viewport-height);
    top: 0;
    right: 0;
  }

  > div {
    border-bottom-left-radius: var(--modal--corner-radius);
    border-top-left-radius: var(--modal--corner-radius);
    max-width: var(--modal--off-canvas-max-width);

    &[data-entering] {
      animation: modal-slide-in-from-right var(--transition--duration--slow);
    }

    &[data-exiting] {
      animation: modal-slide-in-from-right var(--transition--duration--default)
        reverse;
    }
  }

  &.left {
    > div {
      top: 0;
      left: 0;

      &[data-entering] {
        animation: modal-slide-in-from-left var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-in-from-left var(--transition--duration--default)
          reverse;
      }
    }
  }
}

/* Mobile Tray */

@media (max-width: 550px) {
  .modal {
    [role="dialog"],
    [role="dialog"] > div > form,
    .modalContainer {
      max-height: unset;
    }

    .modalContainer {
      margin-top: var(--size-px--xxl);
      background-color: var(--modal--background-color);
    }

    > div {
      background-color: unset;
      max-height: calc(var(--visual-viewport-height));
      max-width: unset;
      position: sticky;
      width: 100vw;
      translate: -50% 0%;
      overflow: hidden auto;
      border-top-right-radius: var(--modal--corner-radius);
      border-top-left-radius: var(--modal--corner-radius);

      &[data-entering] {
        animation: modal-slide-up var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-up var(--transition--duration--default) reverse;
      }
    }
  }
}

/* Mobile  */

@media (max-width: 550px) {
  .modal,
  .offCanvas {
    .actionGroup {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}

/* Animations */

@keyframes modal-zoom {
  /* Start with scale(1) to let ResizeObservers take the correct width on mount. */
  0% {
    opacity: 0;
    transform: scale(1);
  }

  0.1% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes modal-slide-up {
  from {
    margin-bottom: -100px;
  }

  to {
    margin-bottom: 0;
  }
}

@keyframes modal-slide-in-from-right {
  from {
    margin-right: -200px;
  }

  to {
    margin-right: 0;
  }
}

@keyframes modal-slide-in-from-left {
  from {
    margin-left: -200px;
  }

  to {
    margin-left: 0;
  }
}
