.modal,
.offCanvas {
  > div {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: var(--visual-viewport-height);
    justify-content: center;
    align-items: center;
    inset: 0;
    padding: var(--size-px--xl);
    pointer-events: none;
  }

  [role="dialog"],
  [role="dialog"] > form {
    pointer-events: auto;
    overflow: hidden;
    max-height: calc(var(--visual-viewport-height) - var(--size-px--xxl));
    background-color: var(--modal--background-color);
    display: flex;
    flex-direction: column;
    outline: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding-inline: var(--modal--padding);
    padding-block: var(--modal--header-padding-y);
    border-bottom: var(--modal--border-width) var(--modal--border-style)
      var(--modal--border-color);

    > span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      gap: var(--section-header--heading-to-action-spacing);
    }
  }

  .content,
  .columnLayout {
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    padding: var(--modal--padding);
    min-height: var(--modal--content-min-height);
    flex-grow: 1;
  }

  .actionGroup {
    padding: var(--modal--padding);
    background-color: var(--modal--footer-background-color);
    border-top: var(--modal--border-width) var(--modal--border-style)
      var(--modal--border-color);
    flex-grow: 0;
  }

  .columnLayout {
    .accentBox {
      position: sticky;
      height: fit-content;
      top: 0;
    }
  }
}

@mixin size($size) {
  &.size-#{$size} {
    > div {
      > div {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
      }
    }

    [role="dialog"],
    [role="dialog"] > form {
      max-width: var(--modal--size--#{$size});
      flex-grow: 1;
    }
  }
}

/* Normal Modal Desktop */
@media (min-width: 550px) {
  .modal {
    @include size(s);
    @include size(m);
    @include size(l);
  }

  .modal {
    > div {
      > div {
        justify-content: center;
      }

      &[data-entering] {
        animation: modal-zoom var(--transition--duration--slow)
          cubic-bezier(0.1, 0.8, 0.3, 1.2);
      }

      &[data-exiting] {
        animation: modal-zoom var(--transition--duration--default)
          cubic-bezier(0.1, 0.8, 0.3, 1.2) reverse;
      }
    }
  }

  [role="dialog"],
  [role="dialog"] > form {
    border-radius: var(--modal--corner-radius);
  }
}

/* OffCanvas Mobile & Desktop */

.offCanvas {
  @include size(s);
  @include size(m);
  @include size(l);

  > div {
    padding: 0;
    align-items: flex-end;
    justify-content: flex-start;

    > div {
      justify-content: flex-end;
    }

    &[data-entering] {
      animation: modal-slide-in-from-right var(--transition--duration--slow);
    }

    &[data-exiting] {
      animation: modal-slide-in-from-right var(--transition--duration--default)
        reverse;
    }
  }

  [role="dialog"],
  [role="dialog"] > form {
    border-radius: var(--modal--corner-radius) 0 0 var(--modal--corner-radius);
    flex-grow: 1;
    max-height: var(--visual-viewport-height);
    max-width: var(--modal--off-canvas-max-width);
    height: 100vh;
  }

  &.left {
    > div {
      align-items: flex-start;

      > div {
        justify-content: flex-start;
      }

      &[data-entering] {
        animation: modal-slide-in-from-left var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-in-from-left var(--transition--duration--default)
          reverse;
      }
    }

    [role="dialog"],
    [role="dialog"] > form {
      border-radius: 0 var(--modal--corner-radius) var(--modal--corner-radius) 0;
    }
  }
}

/* Mobile Tray */

@media (max-width: 550px) {
  .modal {
    > div {
      display: flex;
      width: 100%;
      overflow: hidden auto;
      inset: unset;
      padding: 0;
      max-height: calc(var(--visual-viewport-height));
      justify-content: flex-start;

      > div {
        overflow: auto;
        width: 100%;
        margin-top: auto;
      }

      &[data-entering] {
        animation: modal-slide-up var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-up var(--transition--duration--default) reverse;
      }
    }

    [role="dialog"],
    [role="dialog"] > form {
      max-height: unset;
      border-top-right-radius: var(--modal--corner-radius);
      border-top-left-radius: var(--modal--corner-radius);
    }
  }
}

/* Mobile  */

@media (max-width: 550px) {
  .modal,
  .offCanvas {
    .actionGroup {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  .offCanvas {
    [role="dialog"],
    [role="dialog"] > form {
      border-radius: 0;
    }
  }
}

/* Animations */

@keyframes modal-zoom {
  /* Start with scale(1) to let ResizeObservers take the correct width on mount. */
  0% {
    opacity: 0;
    transform: scale(1);
  }

  0.1% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes modal-slide-up {
  from {
    translate: 0 30%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes modal-slide-in-from-right {
  from {
    translate: 30% 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes modal-slide-in-from-left {
  from {
    translate: -30% 0;
  }

  to {
    translate: 0 0;
  }
}
