.modal,
.offCanvas {
  align-items: center;
  justify-content: center;

  > div {
    background-color: var(--modal--background-color);
    overflow: hidden;
  }

  [role="dialog"],
  [role="dialog"] > form {
    overflow: hidden;
    outline: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: inherit;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding-inline: var(--modal--padding);
    padding-block: var(--modal--header-padding-y);
    border-bottom: var(--modal--border-width) var(--modal--border-style) var(--modal--border-color);

    > span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      gap: var(--section-header--heading-to-action-spacing);
    }
  }

  .content,
  .columnLayout {
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    padding: var(--modal--padding);
    min-height: var(--modal--content-min-height);
    flex-grow: 1;
  }

  .actionGroup {
    padding: var(--modal--padding);
    background-color: var(--modal--footer-background-color);
    border-top: var(--modal--border-width) var(--modal--border-style) var(--modal--border-color);
    flex-grow: 0;
  }

  .columnLayout {
    .accentBox {
      position: sticky;
      height: fit-content;
      top: 0;
    }
  }
}

.modal,
.offCanvas {
  @extend .size-s;

  @mixin size($size) {
    &.size-#{$size} {
      > div {
        width: var(--modal--size--#{$size});
      }
    }
  }

  @include size(s);
  @include size(m);
  @include size(l);
}

/* Normal Modal Desktop */

@media (min-width: 550px) {
  .modal {
    > div {
      border-radius: var(--modal--corner-radius);
      max-height: calc(100dvh - var(--size-px--xxl));
      max-width: calc(100dvw - var(--size-px--xxl));

      &[data-entering] {
        animation: modal-zoom var(--transition--duration--slow)
          cubic-bezier(0.1, 0.8, 0.3, 1.2);
      }

      &[data-exiting] {
        animation: modal-zoom var(--transition--duration--default)
          cubic-bezier(0.1, 0.8, 0.3, 1.2) reverse;
      }
    }
  }
}

/* OffCanvas Mobile & Desktop */

.offCanvas {
  justify-content: flex-end;

  > div {
    border-bottom-left-radius: var(--modal--corner-radius);
    border-top-left-radius: var(--modal--corner-radius);
    height: 100%;
    max-width: var(--modal--off-canvas-max-width);

    &[data-entering] {
      animation: modal-slide-in-from-right var(--transition--duration--slow);
    }

    &[data-exiting] {
      animation: modal-slide-in-from-right var(--transition--duration--default)
        reverse;
    }
  }

  &.left {
    justify-content: flex-start;

    > div {
      &[data-entering] {
        animation: modal-slide-in-from-left var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-in-from-left var(--transition--duration--default)
          reverse;
      }
    }
  }
}

/* Mobile Tray */

@media (max-width: 550px) {
  .modal {
    overflow-y: auto;
    padding-top: var(--size-px--xxl);

    > div {
      align-self: flex-end;
      margin-bottom: calc(var(--page-height) - var(--visual-viewport-height));
      max-height: var(--visual-viewport-height);
      border-top-right-radius: var(--modal--corner-radius);
      border-top-left-radius: var(--modal--corner-radius);

      &[data-entering] {
        animation: modal-slide-up var(--transition--duration--slow);
      }

      &[data-exiting] {
        animation: modal-slide-up var(--transition--duration--default) reverse;
      }
    }
  }
}

/* Mobile  */

@media (max-width: 550px) {
  .modal,
  .offCanvas {
    .actionGroup {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}

/* Animations */

@keyframes modal-zoom {
  /* Start with scale(1) to let ResizeObservers take the correct width on mount. */
  0% {
    opacity: 0;
    transform: scale(1);
  }

  0.1% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes modal-slide-up {
  from {
    margin-bottom: -100px;
  }

  to {
    margin-bottom: 0;
  }
}

@keyframes modal-slide-in-from-right {
  from {
    margin-right: -200px;
  }

  to {
    margin-right: 0;
  }
}

@keyframes modal-slide-in-from-left {
  from {
    margin-left: -200px;
  }

  to {
    margin-left: 0;
  }
}
