@use "styles/mixins/formControl.scss";

.group {
  order: 2;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "input increment"
    "input decrement";

  .input {
    grid-area: input;

    @include formControl.formControl();
  }

  .decrementButton {
    grid-area: decrement;
  }

  .incrementButton {
    grid-area: increment;
  }

  .decrementButton,
  .incrementButton {
    border-width: var(--form-control--border-width);
    border-color: var(--form-control--border-color--default);
    border-style: solid;
  }

  &[aria-invalid] {
    .decrementButton,
    .incrementButton {
      border-color: var(--form-control--border-color--invalid);
    }
  }

  &[data-focus-within] {
    .decrementButton,
    .incrementButton {
      border-color: var(--form-control--border-color--focused);
    }
  }

  &[aria-disabled="true"] {
    .decrementButton,
    .incrementButton {
      border-color: var(--form-control--border-color--disabled);
    }
  }

  &:has(input:read-only):not([aria-disabled="true"]) {
    .decrementButton,
    .incrementButton {
      border-color: var(--form-control--border-color--default);
    }
  }
}

@media (pointer: fine) {
  .group {
    .input {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    .incrementButton,
    .decrementButton {
      border-inline-start: none;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      padding-block: 0;

      .coarsePointerIcon {
        display: none;
      }
    }

    .decrementButton {
      border-start-end-radius: 0;
    }

    .incrementButton {
      border-block-end: none;
      border-end-end-radius: 0;
    }
  }
}

@media (pointer: coarse) {
  .group {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "decrement input increment";
    max-width: 100%;

    .input {
      border-radius: 0;
      min-width: 0;
    }

    .decrementButton,
    .incrementButton {
      padding-inline: var(--button--padding-icon-only);

      .coarsePointerIcon {
        width: var(--icon--size--m);
        height: var(--icon--size--m);
      }

      svg:not(.coarsePointerIcon) {
        display: none;
      }
    }

    .decrementButton {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      border-inline-end: none;
    }

    .incrementButton {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-inline-start: none;
    }
  }
}
