.tableContainer {
  width: 100%;
  overflow: scroll;
}

.table {
  border-radius: var(--table--corner-radius);
  overflow: hidden;
  width: 100%;
  border-width: var(--table--border-width);
  border-style: var(--table--border-style);
  border-color: var(--table--border-color);
  border-spacing: 0;
  background-color: var(--table--background-color);

  .header {
    color: var(--table--header-color);
    font-weight: var(--table--header-font-weight);
  }

  :where(.body) {
    tr {
      &:where(:nth-of-type(odd)) {
        background-color: var(--table--background-color-accent);
      }

      td {
        border-block-start-width: var(--table--border-width);
        border-block-start-style: var(--table--border-style);
        border-block-start-color: var(--table--border-color);
      }

      &:first-of-type {
        td {
          border-block-start-width: var(--table--header-border-width);
        }
      }
    }
  }

  .cell,
  .column {
    padding-inline: var(--table--padding-x);
    padding-block: var(--table--padding-y);
    text-align: start;
    vertical-align: top;
  }

  &.vertical-align-middle {
    .cell,
    .column {
      vertical-align: middle;
    }
  }
}
