.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  border-radius: var(--table--corner-radius);
  overflow: hidden;
  width: 100%;
  border-width: var(--table--border-width);
  border-style: var(--table--border-style);
  border-color: var(--table--border-color);
  border-spacing: 0;
  background-color: var(--table--background-color);

  .column {
    font-weight: var(--table--header-font-weight);
    &:empty {
      display: none;
    }
  }

  .cell,
  .column {
    padding-inline: var(--table--padding-x);
    padding-block: var(--table--padding-y);
    text-align: start;
    vertical-align: top;
    border-style: var(--table--border-style);
    border-color: var(--table--border-color);
    border-width: 0;
    > svg {
      vertical-align: bottom;
    }
    &.horizontal-align-center {
      text-align: center;
    }
    &.horizontal-align-end {
      text-align: end;
    }
  }

  .header {
    .column {
      border-block-end-width: var(--table--header-border-width);
    }

    &:empty {
      display: none;
    }
  }

  .body {
    :where(.row) {
      &:where(:nth-of-type(odd):not(.footer)) {
        background-color: var(--table--background-color-accent);
      }

      &:not(:last-child) {
        .cell {
          border-block-end-width: var(--table--border-width);
        }
      }

      &.footer .cell {
        border-block-start-width: var(--table--border-width);
      }
    }
  }

  &.vertical-align-middle {
    .cell,
    .column {
      vertical-align: middle;
    }
  }
}
