@use "../../styles/mixins/formControl";

.radioGroup {
  order: 2;
  display: flex;
  flex-direction: column;
  row-gap: var(--radio-group--radio-to-radio-spacing);
}

.segmentedGroup {
  order: 2;
  container-type: inline-size;
  isolation: isolate;

  .segments {
    display: flex;
    flex-wrap: nowrap;

    order: 2;

    @container (max-width: 550px) {
      flex-direction: column;
    }
  }

  .segment {
    @include formControl.formControl();
    display: grid;
    flex: 1;
    column-gap: var(--segmented-control-group--icon-to-text-spacing);
    border-radius: 0;

    grid-template-areas: "label checkmark";
    grid-template-columns: 1fr auto;

    @container (min-width: 551px) {
      margin-right: -1px; /* Collapse borders */

      &:first-of-type {
        border-start-start-radius: var(--form-control--corner-radius);
        border-end-start-radius: var(--form-control--corner-radius);
      }

      &:last-of-type {
        border-start-end-radius: var(--form-control--corner-radius);
        border-end-end-radius: var(--form-control--corner-radius);
        margin: 0;
      }
    }

    @container (max-width: 550px) {
      margin-bottom: -1px; /* Collapse borders */

      &:first-of-type {
        border-start-start-radius: var(--form-control--corner-radius);
        border-start-end-radius: var(--form-control--corner-radius);
      }

      &:last-of-type {
        border-end-end-radius: var(--form-control--corner-radius);
        border-end-start-radius: var(--form-control--corner-radius);
        margin: 0;
      }
    }

    .checkmark {
      grid-area: checkmark;
      display: none;
    }

    &[data-selected] {
      z-index: 1;
      .checkmark {
        display: block;
      }
    }
  }
}
