@import "@/styles";

.root {
  display: flex;
  flex-wrap: wrap;

  :global(.flow-label) {
    width: 100%;
    margin-bottom: var(--radiogroup--label-to-radio);
  }

  &:has(:global(.flow-radiogroup-radio-content)),
  &:has(:global(.flow-radiogroup-radio-icon)) {
    display: grid;
    gap: var(--radiogroup--radio-to-radio);
    :global(.flow-label) {
      grid-column: 1 / -1;
      margin-bottom: calc(
        (var(--radiogroup--radio-to-radio) - var(--radiogroup--label-to-radio)) *
          -1
      );
    }
  }

  &:has(:global(.flow-radiogroup-radio-icon)) {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }

  &:has(:global(.flow-radiogroup-radio-content)) {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
}
