@import "@/styles";

.root {
  display: flex;
  &:has(:global(.flow-description)),
  &:has(:global(.flow-icon)) {
    gap: var(--radiogroup--radio-to-radio);
  }
  &:has(:global(.flow-label)) {
    flex-wrap: wrap;
  }
  :global(.flow-label) {
    width: 100%;
    display: block;
    margin-bottom: var(--radiogroup--label-to-radio);
  }
}
