.radioGroup {
  display: flex;
  flex-wrap: wrap;
  container-type: size;
  isolation: isolate;

  /* With icon or content */
  &:has(.content),
  &:has(.icon) {
    display: grid;
    gap: var(--radio-group--radio-to-radio-spacing);
    .label {
      grid-column: 1 / -1;
      margin-bottom: calc(
        (
            var(--radio-group--radio-to-radio-spacing) - var(
                --form-control--label-to-control-spacing
              )
          ) * -1
      );
    }
    .fieldError,
    .customFieldError,
    .fieldDescription {
      grid-column: 1 / -1;
      margin-top: calc(
        (
            var(--radio-group--radio-to-radio-spacing) - var(
                --form-control--control-to-info-spacing
              )
          ) * -1
      );
    }
  }

  /* With icon */
  &:has(.icon) {
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  }

  /* With content */
  &:has(.content) {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }

  /* With field error */
  &:has(.fieldError) {
    .fieldDescription {
      display: none;
    }
  }

  /* With custom field error */
  &:has(.customFieldError) .fieldError {
    display: none;
  }
}

.label {
  width: 100%;
  margin-bottom: var(--form-control--label-to-control-spacing);
}

.fieldError,
.customFieldError,
.fieldDescription {
  margin-top: var(--form-control--control-to-info-spacing);
  width: 100%;
}
