.listSummary {
  border-width: var(--list-item--border-width);
  border-style: var(--list-item--border-style);
  border-color: var(--list-item--border-color);
  padding: var(--list-item--padding);

  &.top {
    border-top-left-radius: var(--list-item--corner-radius);
    border-top-right-radius: var(--list-item--corner-radius);
    border-bottom-width: 0;
  }

  &.bottom {
    border-bottom-left-radius: var(--list-item--corner-radius);
    border-bottom-right-radius: var(--list-item--corner-radius);
    border-top-width: 0;
    order: 1;
  }
}
