.listSummary {
  border-width: var(--list-item--border-width);
  border-style: var(--list-item--border-style);
  border-color: var(--list-item--border-color);
  padding: var(--list-item--padding);

  &.top {
    border-start-start-radius: var(--list-item--corner-radius);
    border-start-end-radius: var(--list-item--corner-radius);
    border-bottom-width: 0;
  }

  &.bottom {
    border-end-start-radius: var(--list-item--corner-radius);
    border-end-end-radius: var(--list-item--corner-radius);
    border-top-width: 0;
    order: 1;
  }
}
