.tabList {
  background-color: var(--tabs--background-color--default);
  position: relative;
  overflow-x: clip;

  .contextMenuButton {
    padding: var(--tabs--padding);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .titles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
  }

  &.collapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .titles {
      visibility: hidden;
      position: absolute;
      width: auto;
    }
  }
}
