.tabList {
  background-color: var(--tabs--background-color--default);
  position: relative;
  border-radius: var(--tabs--corner-radius);

  .contextMenuButton {
    padding-block: var(--tabs--padding-y);
    padding-inline: var(--tabs--padding-x);
    background-color: var(--tabs--background-color--selected);
    border-radius: var(--tabs--corner-radius);
    box-shadow: var(--tabs--box-shadow) !important;
  }

  .titles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
  }

  &.collapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .titles {
      visibility: hidden;
      position: absolute;
      width: auto;
    }
  }
}
