.tabList {
  background-color: var(--tabs--background-color--default);
  position: relative;
  border-radius: var(--tabs--corner-radius);

  .activeIndicator {
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    width: var(--tab-indicator-width);
    transform: translateX(var(--tab-indicator-x));
    border-radius: var(--tabs--corner-radius);
    background-color: var(--tabs--background-color--selected);
    border: var(--tabs--border-width) var(--tabs--border-style)
      var(--tabs--border-color--default);
    pointer-events: none;

    &.animated {
      transition-property: transform, width;
      transition-duration: var(--transition--duration--default);
    }
  }

  .contextMenuButton {
    padding-block: var(--tabs--padding-y);
    padding-inline: var(--tabs--padding-x);
    background-color: var(--tabs--background-color--selected);
    border-radius: var(--tabs--corner-radius);
    border: var(--tabs--border-width) var(--tabs--border-style)
      var(--tabs--border-color--default);
  }

  .titles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
    position: relative;
  }

  &.collapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .titles {
      visibility: hidden;
      position: absolute;
      width: auto;
    }
  }
}
