.segmentedButton {
  container-type: inline-size;
  isolation: isolate;
}

.segments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  order: 2;

  /* With icon or content */
  &:has(:global(.flow--segmented-button--segment--content)),
  &:has(:global(.flow--segmented-button--segment--icon)) {
    display: grid;
    gap: var(--segmented-button--segment-to-segment-spacing);
  }

  /* With icon */
  &:has(:global(.flow--segmented-button--segment--icon)) {
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  }

  /* With content */
  &:has(:global(.flow--segmented-button--segment--content)) {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }
}
