.icon {
  flex-shrink: 0;
  max-width: none;
  display: inline-block;

  @extend .size-m;

  /* Sizes */
  @mixin size($size, $faPadding) {
    &:where(.size-#{$size}) {
      width: var(--icon--size--#{$size});
      height: var(--icon--size--#{$size});

      &.svg-inline--fa {
        box-sizing: border-box;
        padding: $faPadding;
      }
    }
  }

  @include size(m, 2px);
  @include size(s, 1px);
  @include size(l, 4px);

  /* Colors */
  @mixin status($status) {
    &.#{$status} {
      color: var(--icon--#{$status}-color);
    }
  }

  @include status(danger);
  @include status(success);
  @include status(warning);
  @include status(info);
  @include status(unavailable);
}
