.icon {
  flex-shrink: 0;
  max-width: none;
  display: inline-block;

  @extend .size-m;

  /* Sizes */
  @mixin size($size) {
    &:where(.size-#{$size}) {
      width: var(--icon--size--#{$size});
      height: var(--icon--size--#{$size});
    }
  }

  @include size(m);
  @include size(s);
  @include size(l);

  /* Colors */
  @mixin status($status) {
    &:where(.#{$status}) {
      color: var(--icon--#{$status}-color);
    }
  }

  @include status(danger);
  @include status(success);
  @include status(warning);
  @include status(info);
  @include status(unavailable);
}
