@use "@/styles/mixins/formControl";

.textArea {
  resize: none;
  min-width: 100%;

  &.horizontalResize {
    resize: horizontal;
  }

  &.verticalResize {
    resize: vertical;
  }

  &.resize {
    resize: both;
  }

  .input {
    @include formControl.formControl();
  }
}
