:global(.recharts-tooltip-wrapper-right) {
  margin-left: calc(var(--popover--tip-height) + var(--chart-tooltip--spacing));

  .tip {
    transform: translateX(-100%) !important;
    bottom: 50% !important;
    svg {
      transform: rotate(90deg);
    }
  }
}

:global(.recharts-tooltip-wrapper-left) {
  margin-left: calc(
    calc(var(--popover--tip-height) + var(--chart-tooltip--spacing)) * -1
  );

  .tip {
    right: var(--popover--border-width);
    transform: translateX(100%) !important;
    bottom: 50% !important;
    svg {
      transform: rotate(-90deg);
    }
  }
}
