@use "styles/mixins/formControl.scss";

.comboBox {
  .input {
    order: 2;
    display: grid;
    grid-template-areas: "input";

    input {
      @include formControl.formControl();
      grid-area: input;
      padding-right: calc(
        var(--button--padding-icon-only) * 2 + var(--form-control--padding-x) +
          var(--icon--size--s)
      );
    }

    .toggle {
      grid-area: input;
      justify-self: end;
      margin: var(--form-control--border-width);
      padding: calc(
        var(--button--padding-icon-only) - var(--form-control--border-width)
      );

      &:hover {
        background-color: transparent;
      }

      &[data-pressed] {
        background-color: transparent;
      }
    }
  }

  &:not([data-disabled="true"]):hover {
    input:not(:read-only),
    .toggle:not([data-disabled="true"]) {
      background-color: var(--form-control--background-color--hover);
    }
  }
}
