.alertText {
  display: inline;

  .icon {
    vertical-align: -0.18em;
    margin-inline-end: var(--alert-text--spacing);
  }

  /* Colors */
  @mixin status($status) {
    &:where(.#{$status}) {
      color: var(--alert-text--#{$status}-color);
    }
  }

  @include status(danger);
  @include status(success);
  @include status(warning);
  @include status(info);
  @include status(unavailable);
}
