.layoutCard {
  background-color: var(--layout-card--background-color);
  box-shadow: var(--layout-card--box-shadow);
  border-radius: var(--layout-card--corner-radius);
  padding: var(--layout-card--padding);
  display: flex;
  flex-direction: column;

  > .tabs {
    margin: calc(var(--layout-card--padding) * -1);
  }

  &:has(> .accentBox:only-child) {
    padding: 0;
    .accentBox {
      padding: var(--layout-card--padding);
    }
  }
}

@media (max-width: 550px) {
  .layoutCard {
    padding: var(--layout-card--padding-mobile);

    > .tabs {
      margin: calc(var(--layout-card--padding-mobile) * -1);
    }
  }
}
