.layoutCard {
  align-self: normal;
  background-color: var(--layout-card--background-color);
  box-shadow: var(--layout-card--box-shadow);
  border-radius: var(--layout-card--corner-radius);
  padding: var(--layout-card--padding);
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: var(--layout-card--border-width) var(--layout-card--border-style)
    var(--layout-card--border-color);

  > .tabs {
    margin: calc(var(--layout-card--padding) * -1);

    :global(.flow--tabs--tab-list) {
      border-top-right-radius: var(--layout-card--corner-radius);
      border-top-left-radius: var(--layout-card--corner-radius);
    }

    :global(.flow--tabs--tab-title):first-child {
      border-top-left-radius: var(--layout-card--corner-radius);
    }
  }

  &:has(> .accentBox:only-child) {
    padding: 0;

    .accentBox {
      padding: var(--layout-card--padding);
      border-radius: var(--layout-card--corner-radius);
    }
  }
}

@media (max-width: 768px) {
  .layoutCard {
    padding: var(--layout-card--padding-mobile);

    > .tabs {
      margin: calc(var(--layout-card--padding-mobile) * -1);
    }
  }
}
