@use "@/styles/mixins/scrollbar";

.layoutCard {
  @include scrollbar.scrollbar;

  align-self: normal;
  background-color: var(--layout-card--background-color);
  box-shadow: var(--layout-card--box-shadow);
  border-radius: var(--layout-card--corner-radius);
  padding: var(--layout-card--padding);
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: var(--layout-card--border-width) var(--layout-card--border-style)
    var(--layout-card--border-color);

  > .tabs {
    margin: calc(var(--layout-card--padding) * -1);

    :global(.flow--tabs--tab-list) {
      border-start-end-radius: calc(var(--layout-card--corner-radius) - 1px);
      border-start-start-radius: calc(var(--layout-card--corner-radius) - 1px);
    }

    :global(.flow--tabs--tab-title):first-child,
    :global(.flow--tabs--tab-list--context-menu-button) {
      border-start-start-radius: calc(var(--layout-card--corner-radius) - 1px);
    }
  }

  &:has(> .accentBox:only-child) {
    padding: 0;
    border: none;

    .accentBox {
      padding: var(--layout-card--padding);
      border-radius: calc(var(--layout-card--corner-radius) - 1px);
      flex-grow: 1;
    }
  }
}

@media (max-width: 768px) {
  .layoutCard {
    padding: var(--layout-card--padding-mobile);

    > .tabs {
      margin: calc(var(--layout-card--padding-mobile) * -1);
    }

    &:has(> .accentBox:only-child) {
      padding: 0;

      .accentBox {
        padding: var(--layout-card--padding-mobile);
      }
    }
  }
}
