.footerSection {
  display: flex;
  flex-direction: column;
  gap: var(--size-px--s);
  font-size: var(--font-size-text--s);
}

.footerSectionContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-px--xs);
}
