.fileDropZone {
  border-style: var(--file-drop-zone--border-style--default);
  border-width: var(--file-drop-zone--border-width);
  border-color: var(--file-drop-zone--border-color--default);
  background-color: var(--file-drop-zone--background-color--default);
  border-radius: var(--file-drop-zone--corner-radius);
  padding: var(--file-drop-zone--padding);
  transition-property: background-color, border-color;
  transition-duration: var(--transition--duration--default);

  &[data-focus-visible],
  &[data-drop-target] {
    border-color: var(--file-drop-zone--border-color--target);
    border-style: var(--file-drop-zone--border-style--target);
  }

  &[data-drop-target] {
    background-color: var(--file-drop-zone--background-color--target);
  }

  :global(.flow--form-field) {
    align-items: center;
  }

  &.disabled {
    background-color: var(--file-drop-zone--background-color--disabled);
    border-color: var(--file-drop-zone--border-color--disabled);

    .icon,
    .heading,
    .text {
      color: var(--file-drop-zone--content-color--disabled);
    }
  }
}
