.body {
  background-color: var(--neutral--color--200);
  margin: 0;
}

.rootContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-px--m);
  padding: var(--size-px--m);
}

.navigation {
  min-width: 240px;
}

.main {
  flex-grow: 1;
}
