@import "@/styles";

.root {
  border: none;
  border-radius: var(--button--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--button--padding-y) var(--button--padding-x);
  font-weight: bold;
  font-size: var(--button--font-size);
  line-height: var(--button--line-height);
}

.primary {
  background-color: var(--button--primary-background-color--default);
  color: var(--button--primary-color);

  &:hover {
    background-color: var(--button--primary-background-color--hover);
  }

  &[data-pressed] {
    background-color: var(--button--primary-background-color--pressed);
  }
}

.accent {
  background-color: var(--button--accent-background-color--default);
  color: var(--button--accent-color);

  &:hover {
    background-color: var(--button--accent-background-color--hover);
  }

  &[data-pressed] {
    background-color: var(--button--accent-background-color--pressed);
  }
}

.negative {
  background-color: var(--button--negative-background-color--default);
  color: var(--button--negative-color);

  &:hover {
    background-color: var(--button--negative-background-color--hover);
  }

  &[data-pressed] {
    background-color: var(--button--negative-background-color--pressed);
  }
}

.secondary {
  background-color: var(--button--secondary-background-color--default);
  color: var(--button--secondary-color--default);

  &:hover {
    background-color: var(--button--secondary-background-color--hover);
    color: var(--button--secondary-color--hover);
  }

  &[data-pressed] {
    background-color: var(--button--secondary-background-color--pressed);
    color: var(--button--secondary-color--pressed);
  }
}

.root[disabled] {
  background-color: var(--button--disabled-background-color);
  color: var(--button--disabled-color);
}

.icon {
  order: 0;
}

.root:has(.icon) {
  /* Apply line-height when empty */
  &::after {
    content: "\200B";
    visibility: hidden;
  }
}

.text {
  order: 1;
  margin-inline-start: var(--button--icon-to-text-spacing);
}
