.button {
  border: none;
  border-radius: var(--button--border-radius);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-block: var(--button--padding-squished-y);
  padding-inline: var(--button--padding-squished-x);
  font-size: var(--font-size--default);
  font-weight: bold;
  transition-property: color, background-color;
  transition-duration: var(--transition--duration--default);

  @extend .primary;

  &:has(.icon) {
    padding: var(--button--padding);
  }
}

.icon,
.icon svg {
  display: block;
}

.small {
  font-size: var(--button--font-size-small);
  padding-block: var(--button--padding-small-squished-y);
  padding-inline: var(--button--padding-small-squished-x);

  &:has(.icon) {
    padding: var(--button--padding-small);
  }
}

/* Variants */
@mixin variant($variant) {
  .#{$variant} {
    background-color: var(--button--#{$variant}-background-color--default);
    color: var(--button--#{$variant}-color--default);

    &:hover {
      background-color: var(--button--#{$variant}-background-color--hover);
      color: var(--button--#{$variant}-color--hover);
    }

    &[data-pressed] {
      background-color: var(--button--#{$variant}-background-color--pressed);
      color: var(--button--#{$variant}-color--pressed);
    }

    &[disabled] {
      background-color: var(--button--disabled-background-color);
      color: var(--button--disabled-color);
    }
  }
}

@include variant(primary);
@include variant(accent);
@include variant(danger);
@include variant(secondary);
@include variant(plain);
