@import "@/styles";

.root {
  border-color: transparent;
  border-radius: var(--button-border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3em 0.5em;
}

.accent {
  background-color: var(--button-background-color-accent);
  color: var(--button-content-color-accent);
}

.primary {
  background-color: var(--button-background-color-primary);
  color: var(--button-content-color-primary);
}
