@use "@/styles/mixins/focus";

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--slider--spacing-y);

  --button-size: calc(
    var(--button--line-height-s) + var(--button--padding-s-y) * 2
  );

  .text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: var(--slider--spacing-x);
    padding: 0 calc(var(--button-size) + var(--slider--spacing-x));

    label {
      margin: 0;
    }

    .value {
      font-size: var(--font-size-text--s);
      font-weight: var(--slider--value-font-weight);
    }
  }

  .track {
    grid-area: track;
    position: relative;
    height: var(--slider--track-height);
    background-color: var(--slider--track-color--default);
    width: 100%;
    border-radius: var(--slider--corner-radius);
    border: var(--slider--track-border-width) var(--slider--track-border-style)
      var(--slider--track-border-color--default);
  }

  .fill {
    position: absolute;
    height: var(--slider--track-height);
    background-color: var(--slider--color--default);
    top: calc(50% - var(--slider--track-height) / 2);
    border-radius: var(--slider--corner-radius);
  }

  .initialMarker {
    position: absolute;
    height: var(--slider--initial-marker-height);
    width: var(--slider--initial-marker-border-width);
    background-color: var(--slider--color--default);
    top: calc(50% - var(--slider--initial-marker-height) / 2);
    border-radius: var(--slider--corner-radius);
  }

  .handle {
    width: var(--slider--handle-size);
    height: var(--slider--handle-size);
    border-radius: var(--slider--handle-corner-radius);
    background-color: var(--slider--handle-fill-color);
    border: var(--slider--handle-border-width) var(--slider--track-border-style)
      var(--slider--color--default);
    forced-color-adjust: none;
    top: 50%;
    transition-property: background-color;
    transition-duration: var(--transition--duration--default);

    &[data-dragging],
    &[data-focus-visible] {
      background-color: var(--slider--color--default);
    }

    &[data-focus-visible] {
      @include focus.focus;

      & {
        outline-offset: var(--size-px--xs);
      }
    }
  }

  .increment,
  .decrement {
    position: absolute;
    top: calc((var(--slider--spacing-y) + var(--button-size)) * -1);
  }

  .increment {
    right: 0;
  }

  .decrement {
    left: 0;
  }

  &.disabled {
    .track {
      background-color: var(--slider--track-color--disabled);
      border-color: var(--slider--track-border-color--disabled);
    }

    .fill {
      background-color: var(--slider--color--disabled);
    }

    .handle {
      border-color: var(--slider--color--disabled);
    }

    .text {
      color: var(--text--color--disabled);
    }
  }
}

/*
.slider {









}
*/
