.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--size-px--s);
}

.sidebar {
  width: 240px;
  padding: var(--size-px--l);
}

.main {
  display: flex;
  column-gap: var(--size-px--m);
  flex-grow: 1;

  .container {
    flex-grow: 1;

    > h1 {
      margin-bottom: var(--size-rem--s);
    }

    .content:not(:global(.flow--layout-card)) {
      display: flex;
      flex-direction: column;
      row-gap: var(--size-px--m);
    }
  }
}
