@use "@/styles/mixins/focus";

.tabPanel {
  opacity: 0;
  height: 0;
  overflow: hidden;

  &[id] {
    padding: var(--layout-card--padding);
    opacity: 1;
    height: auto;
  }
}

@media (max-width: 768px) {
  .tabPanel[id] {
    padding: var(--layout-card--padding-mobile);
  }
}
