@use "@/styles/mixins/focus";

.tabPanel {
  opacity: 0;
  height: 0;

  &[id] {
    @include focus.focus(false, true);
    padding: var(--tab-panel--padding);
    opacity: 1;
    height: auto;
  }
}
