@use "../../../../styles/mixins/focus.scss";

.tabPanel {
  opacity: 0;
  height: 0;

  &[id] {
    padding: var(--layout-card--padding);
    opacity: 1;
    height: auto;
  }
}

@media (max-width: 550px) {
  .tabPanel[id] {
    padding: var(--layout-card--padding-mobile);
  }
}
