.footer.footer {
  background-color: var(--color--hosting-blue--200);
  margin-top: var(--size-px--l);

  .footerContent {
    max-width: 1800px;
    margin: 0 auto;
    padding-block: var(--size-px--xl);
    padding-inline: var(--size-px--xxl);
  }

  .feedback {
    max-width: 900px;
  }

  .legal,
  .resources {
    flex: 1;
  }
}

@media (max-width: 1400px) {
  .footer.footer {
    .feedbackImage {
      display: none;
    }

    .footerContent {
      padding-inline: var(--size-px--xl);
    }
  }
}
