.footer.footer {
  padding-block: var(--size-px--xl);
  padding-inline: var(--size-px--l);
  display: flex;
  flex-direction: column;
  row-gap: var(--size-px--xl);
  background-color: var(--color--hosting-blue--100);
  margin-bottom: var(--size-px--l);
}

.mittwaldLogo {
  display: flex;
  flex-direction: column;
  gap: var(--size-px--s);
  img {
    max-width: 300px;
  }
}
