.lightBox {
  background-color: var(--light-box--overlay-background-color);

  > div {
    display: flex;
    position: absolute;
    overflow: hidden;
    top: calc(var(--visual-viewport-height) / 2);
    width: max-content;
    max-width: max(90vw, var(--size-px--xxl));
    margin-left: 50vw;
    translate: -50% -50%;
  }

  [role="dialog"] {
    outline: none;
    display: flex;
    justify-content: center;
    max-width: var(--light-box--max-width);
    max-height: var(--light-box--max-height);
  }

  .content {
    overflow: auto;

    > img {
      width: 100%;
    }
  }

  &.fitScreen {
    .content {
      > * {
        max-height: var(--light-box--max-height);
      }
    }
  }

  .actions,
  .actionGroup {
    display: flex;
    row-gap: var(--light-box--spacing);
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .actions {
    padding-left: var(--light-box--spacing);
  }
}
