.lightBox {
  [role="dialog"] {
    outline: none;
    display: flex;
    justify-content: center;
    max-width: var(--light-box--max-width);
    max-height: var(--light-box--max-height);
  }

  .content {
    overflow: auto;
  }

  &.fitScreen {
    .content {
      > * {
        max-height: var(--light-box--max-height);
      }
    }
  }

  .actions,
  .actionGroup {
    display: flex;
    row-gap: var(--light-box--spacing);
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .actions {
    padding-left: var(--light-box--spacing);
  }
}
