.filterPickerList {
  display: flex;
  flex-direction: column;
  row-gap: var(--list--content-to-content-spacing);
}

.filterBar {
  display: flex;
  column-gap: var(--list--content-to-content-spacing);
}
