.footer {
  background-color: var(--color--hosting-blue--200);
  margin: 0;

  & > * {
    max-width: 1500px;
    margin: 0 auto;
  }
}

@container (max-width: 850px) {
  .feedbackPicture {
    display: none;
  }
}
