.itemList {
  display: flex;
  flex-direction: column;
  border-radius: var(--list-item--corner-radius);
  border-color: var(--list-item--border-color);
  border-width: var(--list-item--border-width);
  border-style: var(--list-item--border-style);
  overflow: hidden;
}
