@use "../../../../styles/mixins/formControl";

.segment {
  @include formControl.formControl();
  display: grid;
  column-gap: var(--segmented-button--icon-to-text-spacing);
  border-radius: 0;

  grid-template-areas: "label checkmark";
  grid-template-columns: 1fr auto;
  flex: 1;
  margin-right: -1px; /* Collapse borders */

  &:first-of-type {
    border-radius: 0;
    border-start-start-radius: var(--form-control--corner-radius);
    border-end-start-radius: var(--form-control--corner-radius);
  }

  &:last-of-type {
    border-radius: 0;
    border-start-end-radius: var(--form-control--corner-radius);
    border-end-end-radius: var(--form-control--corner-radius);
    margin: 0;
  }

  &[data-selected] .checkmark {
    display: block;
  }

  @container (max-width: 550px) {
    flex: auto;
    width: 100%;

    &:first-of-type {
      border-radius: 0;
      border-start-start-radius: var(--form-control--corner-radius);
      border-start-end-radius: var(--form-control--corner-radius);
    }

    &:last-of-type {
      border-radius: 0;
      border-end-end-radius: var(--form-control--corner-radius);
      border-end-start-radius: var(--form-control--corner-radius);
      margin: 0;
    }
  }

  &[data-selected] {
    z-index: 1;
  }
}

.checkmark {
  grid-area: checkmark;
  display: none;
}
