@import "@/styles";

.root {
  display: grid;
  grid-template-areas:
    "label"
    "input"
    "info";
}

/* Elements */

input {
  grid-area: input;
  border-width: var(--text-field--border-width);
  border-style: var(--text-field--border-style);
  border-color: var(--text-field--border-color--default);
  border-radius: var(--text-field--border-radius);
  padding-block: var(--text-field--padding-y);
  padding-inline: var(--text-field--padding-x);
  background-color: var(--text-field--background-color--default);

  &:hover {
    background-color: var(--text-field--background-color--hover);
    border-color: var(--text-field--border-color--hover);
  }

  &[data-invalid] {
    background-color: var(--text-field--background-color--invalid);
    border-color: var(--text-field--border-color--invalid);
  }

  &:focus-visible,
  &:focus {
    background-color: var(--text-field--background-color--focused);
    outline: none;
    border-color: var(--text-field--border-color--focused);
  }

  &:disabled {
    background-color: var(--text-field--background-color--disabled);
    border-color: var(--text-field--border-color--disabled);
    color: var(--text-field--color--disabled);
  }
}

.label {
  grid-area: label;
  margin-bottom: var(--text-field--label-to-input-spacing);
}

.fieldError,
.fieldDescription {
  grid-area: info;
  margin-top: var(--text-field--label-to-input-spacing);
}

&:has(.fieldError) {
  .fieldDescription {
    display: none;
  }
}
